alert-sql-notification/workflows/daily-contact-form-sync-pull-repo-csv.workflow.json
{
  "name": "异常通知联系人表单同步-拉取GitHub仓库更新CSV",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 12 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -900,
        0
      ],
      "id": "71e998da-ccf6-46a8-9e38-0ecdebedcdb9",
      "name": "每天12点触发"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        180
      ],
      "id": "409ddbd3-cd5a-4bb5-86a3-95ad2f694483",
      "name": "手动测试触发"
    },
    {
      "parameters": {
        "command": "bash -lc 'set -euo pipefail\nREPO_URL=\"git@github.com:chenjiuxuan1/KN-YCGJ-TZ.git\"\nREPO_DIR=\"/data/KN-YCGJ-TZ\"\nCSV_PATH=\"/data/KN-YCGJ-TZ/alert-sql-notification/data/alert-contact-mapping.csv\"\nmkdir -p \"$(dirname \"$REPO_DIR\")\"\nif [ -d \"$REPO_DIR/.git\" ]; then\n  cd \"$REPO_DIR\"\n  git fetch origin main\n  git checkout main\n  git pull --rebase origin main\nelse\n  git clone \"$REPO_URL\" \"$REPO_DIR\"\n  cd \"$REPO_DIR\"\n  git checkout main\nfi\ntest -f \"$CSV_PATH\"\necho \"repo=$REPO_DIR\"\necho \"csv=$CSV_PATH\"\n'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -620,
        80
      ],
      "id": "4b8b10e1-07be-4f0d-aa15-72ddfc363cc7",
      "name": "Pull GitHub Repo",
      "notesInFlow": true,
      "notes": "n8n 本机需要安装 git，并配置可读写 git@github.com:chenjiuxuan1/KN-YCGJ-TZ.git 的 SSH key。仓库会放在 /data/KN-YCGJ-TZ。"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://docs.google.com/spreadsheets/d/16cZaIr0YupjC2P65O6Y3YdtJmznfoOqS-gq-bk1TGQI/export?format=csv&gid=998319904",
        "responseFormat": "text",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -340,
        80
      ],
      "id": "dfca2a3c-7e21-45f9-854d-1864e20311a2",
      "name": "Fetch Form Responses CSV"
    },
    {
      "parameters": {
        "jsCode": "\nconst fs = require('fs');\n\nconst CONTACT_CSV_PATH = '/data/KN-YCGJ-TZ/alert-sql-notification/data/alert-contact-mapping.csv';\n\nconst countryOwners = {\n  cn: { country: '中国', contacts: ['张恒阳', '宗美晨'], emails: ['owenzhang@kn.group', 'rockyzong@kn.group'] },\n  ine: { country: '印尼', contacts: ['何柳琴', '翟爽'], emails: ['gretchenhe@kn.group', 'riverzhai@kn.group'] },\n  th: { country: '泰国', contacts: ['黄启龙', '朱会明'], emails: ['qilonghuang@kn.group', 'brightonzhu@kn.group'] },\n  ph: { country: '菲律宾', contacts: ['汤伟', '陈江川'], emails: ['simontang@kn.group', 'jiangchuanchen@kn.group'] },\n  pk: { country: '巴基斯坦', contacts: ['余红叶', '穆晋杰'], emails: ['adamyu@kn.group', 'moonmu@kn.group'] },\n  mx: { country: '墨西哥', contacts: ['吴奎', '邓保保'], emails: ['kuiwu@kn.group', 'enzodeng@kn.group'] },\n};\n\nfunction textFromHttp(item) {\n  for (const key of ['data', 'body', 'response']) {\n    if (typeof item[key] === 'string') return item[key];\n  }\n  if (typeof item === 'string') return item;\n  return '';\n}\n\nfunction parseCsv(text) {\n  const rows = [];\n  let row = [];\n  let field = '';\n  let inQuotes = false;\n  const input = String(text || '').replace(/^\\uFEFF/, '');\n  for (let i = 0; i < input.length; i += 1) {\n    const ch = input[i];\n    if (ch === '\"') {\n      if (inQuotes && input[i + 1] === '\"') {\n        field += '\"';\n        i += 1;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (ch === ',' && !inQuotes) {\n      row.push(field);\n      field = '';\n    } else if ((ch === '\\n' || ch === '\\r') && !inQuotes) {\n      if (ch === '\\r' && input[i + 1] === '\\n') i += 1;\n      row.push(field);\n      if (row.some((cell) => String(cell).trim())) rows.push(row);\n      row = [];\n      field = '';\n    } else {\n      field += ch;\n    }\n  }\n  row.push(field);\n  if (row.some((cell) => String(cell).trim())) rows.push(row);\n  if (!rows.length) return { headers: [], rows: [] };\n  const headers = rows[0].map((cell) => String(cell || '').trim());\n  return {\n    headers,\n    rows: rows.slice(1).map((cells, index) => {\n      const obj = { __rowNumber: index + 2 };\n      headers.forEach((header, columnIndex) => {\n        obj[header] = String(cells[columnIndex] || '').trim();\n      });\n      return obj;\n    }),\n  };\n}\n\nfunction csvEscape(value) {\n  const text = String(value ?? '');\n  return /[\",\\n\\r]/.test(text) ? '\"' + text.replace(/\"/g, '\"\"') + '\"' : text;\n}\n\nfunction toCsv(headers, rows) {\n  const visibleHeaders = headers.filter((header) => header !== '__rowNumber');\n  return '\\uFEFF' + [\n    visibleHeaders.map(csvEscape).join(','),\n    ...rows.map((row) => visibleHeaders.map((header) => csvEscape(row[header])).join(',')),\n  ].join('\\n') + '\\n';\n}\n\nfunction first(row, keys) {\n  for (const key of keys) {\n    const value = row[key];\n    if (value !== undefined && value !== null && String(value).trim() !== '') return String(value).trim();\n  }\n  return '';\n}\n\nfunction splitPeople(value) {\n  return String(value || '')\n    .split(/[、,，;；/\\\\|\\n\\r\\t]+/)\n    .map((item) => item.trim())\n    .filter(Boolean);\n}\n\nfunction normalizeAccount(value) {\n  return String(value || '').trim().replace(/^u_/i, '').toLowerCase();\n}\n\nfunction canonicalSheet(value) {\n  const text = String(value || '').trim().toLowerCase();\n  if (!text) return '';\n  if (/中国|china|starrocks_cn|\\bcn\\b/.test(text)) return 'cn';\n  if (/印尼|印度尼西亚|indonesia|starrocks_ine|starrocks_id|\\bine\\b|\\bid\\b/.test(text)) return 'ine';\n  if (/泰国|thailand|starrocks_th|\\bth\\b/.test(text)) return 'th';\n  if (/菲律宾|philippines|starrocks_ph|\\bph\\b/.test(text)) return 'ph';\n  if (/巴基斯坦|pakistan|starrocks_pak|starrocks_pk|\\bpak\\b|\\bpk\\b/.test(text)) return 'pk';\n  if (/墨西哥|mexico|starrocks_mex|starrocks_mx|\\bmex\\b|\\bmx\\b/.test(text)) return 'mx';\n  return text;\n}\n\nfunction ensureColumn(headers, candidates) {\n  let key = candidates.find((candidate) => headers.includes(candidate));\n  if (!key) {\n    key = candidates[0];\n    headers.push(key);\n  }\n  return key;\n}\n\nif (!fs.existsSync(CONTACT_CSV_PATH)) {\n  return [{\n    json: {\n      ok: false,\n      error: 'CONTACT_CSV_NOT_FOUND_AFTER_GIT_PULL',\n      contactCsvPath: CONTACT_CSV_PATH,\n      updateCount: 0,\n      shouldPush: false,\n      message: 'GitHub 仓库已拉取，但联系人 CSV 不存在，请检查仓库路径。'\n    }\n  }];\n}\n\nconst formRaw = $('Fetch Form Responses CSV').first().json || {};\nconst form = parseCsv(textFromHttp(formRaw));\nconst contactCsvText = fs.readFileSync(CONTACT_CSV_PATH, 'utf8');\nconst contactTable = parseCsv(contactCsvText);\n\nconst countryKey = ensureColumn(contactTable.headers, ['国家', 'country']);\nconst accountKey = ensureColumn(contactTable.headers, ['账号', 'account', 'user', '用户']);\nconst departmentKey = ensureColumn(contactTable.headers, ['数据开发组', '部门', 'department', 'dept']);\nconst contactKey = ensureColumn(contactTable.headers, ['联系人', 'contacts', 'contact']);\nconst emailKey = ensureColumn(contactTable.headers, ['邮箱', 'emails', 'email']);\nconst remarkKey = ensureColumn(contactTable.headers, ['备注', 'remark', 'remarks']);\n\nconst rowByKey = new Map();\nfor (const row of contactTable.rows) {\n  const sheet = canonicalSheet(row[countryKey]);\n  const account = normalizeAccount(row[accountKey]);\n  if (sheet && account) rowByKey.set(sheet + '::' + account, row);\n}\n\nconst latestByKey = new Map();\nfor (const row of form.rows) {\n  const sheet = canonicalSheet(first(row, ['国家', 'country', 'sheet', '集群', 'cluster']));\n  const account = normalizeAccount(first(row, ['账号', 'account', 'user', '用户']));\n  if (!sheet || !account) continue;\n  latestByKey.set(sheet + '::' + account, row);\n}\n\nconst applied = [];\nconst skipped = [];\nfor (const [key, formRow] of latestByKey.entries()) {\n  const [sheet, account] = key.split('::');\n  const targetRow = rowByKey.get(key);\n  const owner = countryOwners[sheet];\n  if (!owner) {\n    skipped.push({ sheet, account, reason: '国家无法识别' });\n    continue;\n  }\n  if (!targetRow) {\n    skipped.push({ sheet, account, reason: '联系人 CSV 未找到该账号，未追加，避免误写' });\n    continue;\n  }\n\n  const oldDepartment = targetRow[departmentKey] || '';\n  const oldContacts = targetRow[contactKey] || '';\n  const oldEmails = targetRow[emailKey] || '';\n  const oldRemark = targetRow[remarkKey] || '';\n  const newDepartment = first(formRow, ['部门', '数据开发组', 'department', 'dept']) || oldDepartment;\n  const rawContacts = first(formRow, ['修改后联系人', '联系人', 'contacts', 'contact']);\n  const rawEmails = first(formRow, ['修改后邮箱', '邮箱', 'emails', 'email']);\n\n  let contacts = splitPeople(rawContacts);\n  let emails = splitPeople(rawEmails);\n  let defaultedToCountryOwner = false;\n  if (!contacts.length) {\n    contacts = owner.contacts;\n    emails = owner.emails;\n    defaultedToCountryOwner = true;\n  } else if (!emails.length) {\n    skipped.push({ sheet, account, reason: '填写了修改后联系人但修改后邮箱为空，未更新以避免联系人和邮箱不匹配' });\n    continue;\n  }\n\n  const finalContacts = contacts.join('、');\n  const finalEmails = emails.join('、');\n  const fallbackRemark = '表单未填写修改后联系人，已兜底通知国家负责人；请国家负责人自行确认实际负责人并通过联系人调整表单补充。';\n  const finalRemark = defaultedToCountryOwner\n    ? (oldRemark && !oldRemark.includes('表单未填写修改后联系人') ? oldRemark + '；' + fallbackRemark : (oldRemark || fallbackRemark))\n    : oldRemark;\n  const changed = newDepartment !== oldDepartment || finalContacts !== oldContacts || finalEmails !== oldEmails || finalRemark !== oldRemark;\n  if (!changed) {\n    skipped.push({ sheet, account, reason: '内容无变化' });\n    continue;\n  }\n\n  targetRow[departmentKey] = newDepartment;\n  targetRow[contactKey] = finalContacts;\n  targetRow[emailKey] = finalEmails;\n  targetRow[remarkKey] = finalRemark;\n  applied.push({\n    country: owner.country,\n    sheet,\n    account,\n    rowNumber: targetRow.__rowNumber,\n    oldDepartment,\n    oldContacts,\n    oldEmails,\n    oldRemark,\n    newDepartment,\n    newContacts: finalContacts,\n    newEmails: finalEmails,\n    newRemark: finalRemark,\n    defaultedToCountryOwner,\n    formTimestamp: first(formRow, ['时间戳记', 'timestamp', 'Timestamp']),\n  });\n}\n\nif (applied.length) {\n  const outputCsv = toCsv(contactTable.headers, contactTable.rows);\n  fs.writeFileSync(CONTACT_CSV_PATH, outputCsv, 'utf8');\n}\n\nreturn [{\n  json: {\n    ok: true,\n    contactCsvPath: CONTACT_CSV_PATH,\n    formRows: form.rows.length,\n    latestUpdateKeys: latestByKey.size,\n    updateCount: applied.length,\n    shouldPush: applied.length > 0,\n    skippedCount: skipped.length,\n    applied,\n    skipped,\n    note: applied.length\n      ? '已覆盖写回仓库内联系人 CSV，下一步会 git commit/push。'\n      : '没有需要写入的变更，跳过 git commit/push。'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        80
      ],
      "id": "f1052ff0-2750-44b4-a9b8-08f65d82de73",
      "name": "Update Repo Contact CSV",
      "notesInFlow": true,
      "notes": "需要 n8n 环境变量 NODE_FUNCTION_ALLOW_BUILTIN=fs。只覆盖仓库内单个 CSV 文件。"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldPush }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        80
      ],
      "id": "cf34d889-6671-4654-90ba-b7daac244fc3",
      "name": "Has CSV Changes?"
    },
    {
      "parameters": {
        "command": "bash -lc 'set -euo pipefail\nREPO_DIR=\"/data/KN-YCGJ-TZ\"\ncd \"$REPO_DIR\"\ngit config user.name \"n8n-contact-sync\"\ngit config user.email \"n8n-contact-sync@kn.group\"\ngit add \"alert-sql-notification/data/alert-contact-mapping.csv\"\nif git diff --cached --quiet; then\n  echo \"no changes to commit\"\n  exit 0\nfi\ngit commit -m \"chore: sync alert contact mapping from form\"\ngit push origin main\n'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        500,
        -20
      ],
      "id": "f57051e1-b5ff-4fd4-9426-ab9b4a153474",
      "name": "Commit And Push CSV",
      "notesInFlow": true,
      "notes": "只有 CSV 有变更时才会提交并推送到 GitHub main 分支。"
    }
  ],
  "connections": {
    "每天12点触发": {
      "main": [
        [
          {
            "node": "Pull GitHub Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "手动测试触发": {
      "main": [
        [
          {
            "node": "Pull GitHub Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull GitHub Repo": {
      "main": [
        [
          {
            "node": "Fetch Form Responses CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Form Responses CSV": {
      "main": [
        [
          {
            "node": "Update Repo Contact CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Repo Contact CSV": {
      "main": [
        [
          {
            "node": "Has CSV Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has CSV Changes?": {
      "main": [
        [
          {
            "node": "Commit And Push CSV",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "50c53479-5524-4201-98f6-0cf6394a5c9a",
  "id": "daily-contact-form-sync-github-repo-csv",
  "tags": []
}
