alert-sql-notification/workflows/sql-optimizer-notify-repo-csv.workflow.json
{
  "name": "sql优化_main_execute_workflow_部门账号联系人通知_读取仓库CSV版",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sql-promotion2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b6859264-a3d6-4ab0-abc3-02d7dc390d41",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        50128,
        21200
      ],
      "webhookId": "sql-promotion1-execute-workflow",
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "O2T5aOGchloFOE69",
          "mode": "list",
          "cachedResultUrl": "/workflow/O2T5aOGchloFOE69",
          "cachedResultName": "异常sql优化skill_execute_workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": "={{ { \"message\": $json.body.message, \"sessionId\": $json.body.sessionId, \"queryId\": $json.body.queryId, \"cluster\": $json.body.cluster, \"user\": $json.body.user, \"executor\": $json.body.executor, \"cpuTime\": $json.body.cpuTime, \"memUsage\": $json.body.memUsage, \"execTime\": $json.body.execTime, \"scanRows\": $json.body.scanRows, \"violationDetail\": $json.body.violationDetail, \"sqlText\": $json.body.sqlText } }}"
        },
        "options": {}
      },
      "id": "e67894ab-68be-4163-8ed5-a035e5db7693",
      "name": "Execute Skill Prep",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        50368,
        21200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope-intl.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __FILL_IN_N8N__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"qwen3.7-plus\", \"messages\": [ { \"role\": \"system\", \"content\": \"严格根据输入提示完成分析，并且只输出 JSON。不要输出 Markdown，不要输出额外解释。\" }, { \"role\": \"user\", \"content\": $json.prompt || \"\" } ], \"stream\": false } }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "db72bbc4-ec89-4edd-b76b-cea9cdf3a825",
      "name": "Call Qwen Chat API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        50624,
        21200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const original = $item(0).$node['Execute Skill Prep'].json || {};\nconst incoming = $json || {};\nconst base = { ...original, ...incoming };\nconst responseNode = incoming;\nconst safeGet = (obj, path) => {\n  let current = obj;\n  for (let i = 0; i < path.length; i += 1) {\n    if (!current || typeof current !== 'object') return undefined;\n    current = current[path[i]];\n  }\n  return current;\n};\nconst firstDefined = (...values) => {\n  for (let i = 0; i < values.length; i += 1) {\n    const value = values[i];\n    if (value !== undefined && value !== null) return value;\n  }\n  return undefined;\n};\nconst toNumber = (value) => {\n  if (value === null || value === undefined || value === '') return undefined;\n  const n = Number(value);\n  return Number.isFinite(n) ? n : undefined;\n};\nconst normalizeTokenUsage = (usage) => {\n  if (!usage || typeof usage !== 'object') return null;\n  const prompt = toNumber(firstDefined(usage.promptTokens, usage.prompt_tokens, usage.inputTokens, usage.input_tokens));\n  const completion = toNumber(firstDefined(usage.completionTokens, usage.completion_tokens, usage.outputTokens, usage.output_tokens));\n  const total = toNumber(firstDefined(usage.totalTokens, usage.total_tokens));\n  if (prompt === undefined && completion === undefined && total === undefined) return null;\n  return {\n    promptTokens: prompt === undefined ? 0 : prompt,\n    completionTokens: completion === undefined ? 0 : completion,\n    totalTokens: total === undefined ? ((prompt === undefined ? 0 : prompt) + (completion === undefined ? 0 : completion)) : total\n  };\n};\nconst cleanSql = (value) => String(value || '')\n  .replace(/^```sql\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\nconst clip = (value, limit) => {\n  const text = String(value || '').replace(/\\s+/g, ' ').trim();\n  return text.length > limit ? text.slice(0, limit) + '...(truncated)' : text;\n};\nconst getExplainability = (sqlValue) => {\n  const sql = cleanSql(sqlValue);\n  if (!sql) return { explainEligible: false, explainSql: '', explainSkipReason: '缺少可执行 SQL。' };\n  const normalized = sql.replace(/^\\(+/, '').trim();\n  const lower = normalized.toLowerCase();\n  if (/^(with|select)\\b/.test(lower)) return { explainEligible: true, explainSql: sql, explainSkipReason: '' };\n  const selectMatch = normalized.match(/\\bselect\\b[\\s\\S]*$/i);\n  if (/^insert\\s+overwrite\\b/.test(lower) || /^insert\\b/.test(lower)) {\n    if (selectMatch && selectMatch[0]) return { explainEligible: false, explainSql: cleanSql(selectMatch[0]), explainSkipReason: 'INSERT / INSERT OVERWRITE 类型 SQL 默认免 EXPLAIN 通过。' };\n    return { explainEligible: false, explainSql: '', explainSkipReason: 'INSERT / INSERT OVERWRITE 未找到可单独 EXPLAIN 的 SELECT 部分。' };\n  }\n  if (/^create\\b/.test(lower)) {\n    const ctasMatch = normalized.match(/\\bas\\s+(select[\\s\\S]*)$/i);\n    if (ctasMatch && ctasMatch[1]) return { explainEligible: false, explainSql: cleanSql(ctasMatch[1]), explainSkipReason: 'CREATE / CTAS 类型 SQL 默认免 EXPLAIN 通过。' };\n    return { explainEligible: false, explainSql: '', explainSkipReason: 'CREATE / DDL 类型 SQL 默认免 EXPLAIN 通过。' };\n  }\n  if (/^(update|delete|alter|drop|truncate|grant|revoke|use|set|show|desc|explain)\\b/.test(lower)) {\n    return { explainEligible: false, explainSql: '', explainSkipReason: '当前 SQL 类型默认免 EXPLAIN 通过。' };\n  }\n  if (selectMatch && selectMatch[0]) return { explainEligible: true, explainSql: cleanSql(selectMatch[0]), explainSkipReason: '' };\n  return { explainEligible: false, explainSql: '', explainSkipReason: '未识别到可安全执行 EXPLAIN 的查询主体。' };\n};\nconst raw = firstDefined(\n  safeGet(responseNode, ['choices', 0, 'message', 'content']),\n  safeGet(responseNode, ['output', 0, 'content', 0, 'text']),\n  responseNode.output_text,\n  responseNode.text,\n  responseNode.response,\n  ''\n);\nconst responseError = responseNode.error || {};\nconst transportError = String(responseNode.message || responseError.message || responseNode.error || responseNode.statusMessage || '').trim();\nconst isTransportFailure = /timeout|econnaborted|connection was aborted|server is offline|socket hang up|network error|transport error/i.test(transportError);\nconst modelTokenUsage = normalizeTokenUsage(responseNode.tokenUsage)\n  || normalizeTokenUsage(responseNode.usage)\n  || normalizeTokenUsage(safeGet(responseNode, ['response', 'tokenUsage']))\n  || normalizeTokenUsage(safeGet(responseNode, ['response', 'usage']))\n  || null;\nconst sourceSql = cleanSql(firstDefined(safeGet(base, ['evidence', 'queryContext', 'sqlText']), base.sqlText, base.originalSql, ''));\nconst previousOptimizedSql = cleanSql(base.previousOptimizedSql || '');\nconst fallbackSql = previousOptimizedSql || sourceSql;\nconst violation = clip(firstDefined(safeGet(base, ['evidence', 'alert', 'violationDetail']), base.violationDetail, '存在高资源消耗风险'), 180);\nconst fallbackHints = [];\nif (/count\\s*\\(\\s*distinct/i.test(sourceSql)) fallbackHints.push('当前 SQL 含 COUNT DISTINCT，优先检查是否能预聚合、改成分层去重，或缩小参与去重的数据范围。');\nif (/order\\s+by/i.test(sourceSql) && /limit\\s+\\d+/i.test(sourceSql)) fallbackHints.push('当前 SQL 同时存在 ORDER BY 与 LIMIT，优先确认排序列是否必要，避免在大结果集上全量排序。');\nif (/group\\s+by/i.test(sourceSql)) fallbackHints.push('当前 SQL 存在 GROUP BY，优先检查聚合前是否能先过滤、先裁剪分区，减少进入聚合的数据量。');\nif (/join\\s+/i.test(sourceSql)) fallbackHints.push('当前 SQL 存在 JOIN，优先确认 Join key 是否命中分桶/分区，并检查是否存在可下推过滤条件。');\nfallbackHints.push('优先补充分区过滤、减少无效列扫描、避免把全表明细直接送入重聚合或重排序算子。');\nconst genericSummary = fallbackHints.slice(0, 3).join(' ');\nconst ensureShape = (obj, reason) => {\n  const normalized = obj && typeof obj === 'object' ? obj : {};\n  return {\n    result: String(normalized.result || (fallbackSql ? '仅完成结构优化' : '优化未达标，需继续改写')).trim() || '优化未达标，需继续改写',\n    oneLineConclusion: String(normalized.oneLineConclusion || reason || '已生成结构化优化建议，请结合 EXPLAIN 和业务语义人工复核。').trim(),\n    coreIssue: String(normalized.coreIssue || (violation + '；当前证据显示 SQL 需要优先减少扫描和重算子开销。')).trim(),\n    summary: String(normalized.summary || genericSummary).trim(),\n    optimizedSql: cleanSql(normalized.optimizedSql || fallbackSql || ''),\n    equivalenceLevel: String(normalized.equivalenceLevel || (fallbackSql ? '基本等价（待验证）' : '存疑')).trim(),\n    risk: String(normalized.risk || '当前结果可能缺少执行计划佐证，请重点核对业务语义、过滤条件和聚合口径，必要时不要直接执行优化后的 SQL。').trim(),\n    validationAdvice: String(normalized.validationAdvice || '请优先核对分区过滤、Join key、聚合/排序位置以及结果口径；如果环境允许，再执行 EXPLAIN 辅助验证。').trim()\n  };\n};\nconst unwrapJsonCandidate = (value) => {\n  if (typeof value !== 'string') return value;\n  const text = value.trim();\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  return fenced && fenced[1] ? fenced[1].trim() : text;\n};\nlet parsed;\nlet usedFallback = false;\nif (isTransportFailure) {\n  throw new Error('模型响应超时，工作流已终止：' + (transportError || 'unknown transport error'));\n}\nif (!raw && transportError) {\n  usedFallback = true;\n  parsed = ensureShape({\n    result: fallbackSql ? '仅完成结构优化' : '优化未达标，需继续改写',\n    oneLineConclusion: '模型响应超时，已输出保守版优化建议，请人工复核。',\n    coreIssue: violation + '；当前缺少完整执行证据，只能基于告警和原始 SQL 结构给出保守建议。',\n    summary: genericSummary,\n    optimizedSql: fallbackSql,\n    equivalenceLevel: fallbackSql ? '基本等价（待验证）' : '存疑',\n    risk: '当前建议主要基于原始 SQL 结构和告警信息，缺少稳定的执行计划或完整验证结果，请不要直接执行优化后的 SQL。',\n    validationAdvice: '请优先核对分区过滤、Join key、聚合/排序位置以及结果口径；如果环境允许，再执行 EXPLAIN 辅助验证。'\n  }, '模型响应超时，已输出保守版优化建议，请人工复核。');\n} else {\n  try {\n    const candidate = unwrapJsonCandidate(raw);\n    parsed = typeof candidate === 'string' ? JSON.parse(candidate) : candidate;\n  } catch (error) {\n    usedFallback = true;\n    parsed = ensureShape({\n      result: fallbackSql ? '仅完成结构优化' : '优化未达标，需继续改写',\n      oneLineConclusion: '模型响应超时，已输出保守版优化建议，请人工复核。',\n      coreIssue: violation + '；当前缺少稳定的结构化输出，只能基于告警和原始 SQL 结构给出保守建议。',\n      summary: genericSummary,\n      optimizedSql: fallbackSql,\n      equivalenceLevel: fallbackSql ? '基本等价（待验证）' : '存疑',\n      risk: '当前建议主要基于原始 SQL 结构和告警信息，缺少稳定的执行计划或完整验证结果，请不要直接执行优化后的 SQL。',\n      validationAdvice: '请优先核对分区过滤、Join key、聚合/排序位置以及结果口径；如果环境允许，再执行 EXPLAIN 辅助验证。'\n    }, isTransportFailure ? '模型响应超时，已输出保守版优化建议，请人工复核。' : '已输出保守版优化建议，请人工复核。');\n  }\n}\nparsed = ensureShape(parsed, parsed && parsed.oneLineConclusion ? parsed.oneLineConclusion : '已生成结构化优化建议，请结合 EXPLAIN 和业务语义人工复核。');\nconst optimizedSql = cleanSql(parsed.optimizedSql || fallbackSql || '');\nconst explainInfo = getExplainability(optimizedSql);\nparsed.optimizedSql = optimizedSql;\nconst tokenUsage = modelTokenUsage || { promptTokens: 0, completionTokens: 0, totalTokens: 0 };\nconst previousNodeJson = $item(0).$node['Execute Skill Prep'].json || {};\nconst originalPrompt = String(base.originalPrompt || previousNodeJson.originalPrompt || base.prompt || '').trim();\nreturn [{ json: {\n  ...base,\n  originalPrompt,\n  prompt: String(base.prompt || originalPrompt || '').trim(),\n  retryHistory: Array.isArray(base.retryHistory) ? base.retryHistory : [],\n  optimizationAttempt: Number(base.optimizationAttempt || 1),\n  maxOptimizationAttempts: Number(base.maxOptimizationAttempts || 3),\n  aiRawOutput: typeof raw === 'string' ? raw : JSON.stringify(raw || ''),\n  aiResult: parsed,\n  aiFallbackUsed: usedFallback,\n  tokenUsage,\n  modelTokenUsageRaw: firstDefined(responseNode.tokenUsage, responseNode.usage, safeGet(responseNode, ['response', 'tokenUsage']), safeGet(responseNode, ['response', 'usage']), null),\n  aiModelLookupMeta: { source: 'Call Qwen Chat API', transportError, isTransportFailure },\n  aiApiResponse: responseNode,\n  optimizedSqlExplainEligible: Boolean(explainInfo.explainEligible),\n  optimizedSqlExplainSql: explainInfo.explainSql || '',\n  optimizedSqlExplainSkipReason: explainInfo.explainSkipReason || '',\n  notifyEmail: base.notifyEmail || 'jiangchuanchen@kn.group',\n  notifyEmails: Array.isArray(base.notifyEmails) && base.notifyEmails.length ? base.notifyEmails : ['jiangchuanchen@kn.group'],\n  shouldRetryAi: (usedFallback && !isTransportFailure) || !Boolean(parsed.optimizedSql),\n  retryReason: usedFallback ? clip(transportError || 'AI 输出不稳定', 240) : (base.retryReason || ''),\n  aiTransportFailure: isTransportFailure\n}}];"
      },
      "id": "3d4f3fb2-3abf-4435-8571-f70fe6252cb0",
      "name": "Parse AI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        50880,
        21200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f52d23b4-e361-482c-b62d-119db01a9f32",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9071e9f1-d1f2-4e1e-ac64-9c9f046896c6",
      "name": "Has Optimized SQL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        51120,
        21200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.20.0.234:4888/api/rust/v1/sr-sandboxes/sql-executions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer fuxi_backend_query_all_20260518"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"taskName\": \"sr-country-query\", \"country\": (((($json.evidence || {}).queryContext || {}).country) || \"cn\"), \"purpose\": \"agent\", \"accessMode\": \"local\", \"sqlMode\": \"query\", \"sql\": \"EXPLAIN \" + String((((($json.aiResult || {}).optimizedSql) || \"\"))).replace(/^```sql\\s*/i, \"\").replace(/^```\\s*/i, \"\").replace(/\\s*```$/i, \"\").trim(), \"page\": 1, \"pageSize\": 100, \"timeoutSec\": 60 } }}",
        "options": {}
      },
      "id": "c7d9e4d2-6175-4cc3-9cf5-20865025c165",
      "name": "Run Optimized Explain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        51360,
        21072
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Parse AI Result').first().json || {};\nconst explain = $json || {};\nconst explainData = explain.data || {};\nconst explainResult = explain.result || {};\nconst explainErrorObj = explain.error || {};\nconst rows = explain.rows || explainData.rows || explainResult.rows || [];\nconst rowText = Array.isArray(rows) ? rows.map((r) => JSON.stringify(r)).join('\\n') : '';\nconst explainError = String(explain.message || explainErrorObj.message || explain.error || '').trim();\nconst denied = /access denied|privilege|permission/i.test(explainError);\nconst nonExplainablePass = /no viable statement for input '\\s*EXPLAIN\\s+(create|insert|alter|drop|truncate|grant|revoke|use|set|show|desc)/i.test(explainError);\nconst retryable = /syntax|parse|invalid sql|unexpected|mismatched input/i.test(explainError) && !nonExplainablePass;\nconst baseAiResult = base.aiResult || {};\nconst cleanedSql = String(baseAiResult.optimizedSql || '')\n  .replace(/^```sql\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\nconst ok = !explainError || denied || nonExplainablePass;\nconst nextRetryAllowed = Number(base.optimizationAttempt || 1) < Number(base.maxOptimizationAttempts || 3);\nconst needRetry2 = Boolean(retryable) && nextRetryAllowed;\nconst summary = rowText.slice(0, 1800) || (\n  explainError\n    ? (denied\n      ? '优化后 EXPLAIN 因权限不足未实际执行，但按通过处理：' + explainError\n      : nonExplainablePass\n        ? '优化后 SQL 属于 CREATE / INSERT / DDL 类语句，免 EXPLAIN 通过。'\n        : retryable\n          ? '优化后 EXPLAIN 命中语法/无效 SQL 错误，需要 AI 重试：' + explainError\n          : '优化后 EXPLAIN 未通过，但当前错误不再触发 AI 重试：' + explainError)\n    : '优化后 EXPLAIN 未返回结果。'\n);\nreturn [{ json: {\n  ...base,\n  aiResult: {\n    ...baseAiResult,\n    optimizedSql: cleanedSql\n  },\n  optimizedExplainChecked: true,\n  optimizedExplainOk: ok,\n  optimizedExplainPermissionDenied: denied,\n  optimizedExplainError: explainError || '',\n  optimizedExplainSummary: summary,\n  optimizedExplainRows: Array.isArray(rows) ? rows.slice(0, 20) : [],\n  optimizedExplainRaw: explain,\n  shouldRetryAi: Boolean(retryable),\n  needRetry2,\n  retryDecision: needRetry2 ? 'retry_2' : 'stop_after_attempt_1',\n  retryReason: retryable ? summary.slice(0, 400) : (base.retryReason || '')\n}}];\n"
      },
      "id": "de27503d-6798-4b82-9cc1-be56369e08d2",
      "name": "Merge Optimized Explain Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        51600,
        21072
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Parse AI Result').first().json || {};\nconst baseAiResult = base.aiResult || {};\nconst cleanedSql = String(baseAiResult.optimizedSql || '')\n  .replace(/^```sql\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\nconst skipReason = String(base.optimizedSqlExplainSkipReason || '').trim();\nconst nonExplainablePass = Boolean(cleanedSql && !base.optimizedSqlExplainEligible);\nconst summary = nonExplainablePass\n  ? '优化后 SQL 免 EXPLAIN 通过：' + (skipReason || 'CREATE / INSERT / DDL 类语句默认按成功处理。')\n  : (cleanedSql ? '未执行优化后 EXPLAIN。' : '未执行优化后 EXPLAIN：AI 没有返回 optimizedSql。');\nconst nextRetryAllowed = Number(base.optimizationAttempt || 1) < Number(base.maxOptimizationAttempts || 3);\nconst needRetry2 = !Boolean(cleanedSql) && nextRetryAllowed;\nreturn [{ json: {\n  ...base,\n  aiResult: {\n    ...baseAiResult,\n    optimizedSql: cleanedSql\n  },\n  optimizedExplainChecked: false,\n  optimizedExplainOk: Boolean(nonExplainablePass),\n  optimizedExplainPermissionDenied: false,\n  optimizedExplainError: '',\n  optimizedExplainSummary: summary,\n  optimizedExplainRows: [],\n  optimizedExplainRaw: null,\n  shouldRetryAi: !Boolean(cleanedSql),\n  needRetry2,\n  retryDecision: needRetry2 ? 'retry_2' : 'stop_after_attempt_1',\n  retryReason: !cleanedSql ? 'AI 未返回可校验的 optimizedSql。' : (base.retryReason || '')\n}}];\n"
      },
      "id": "67ab4869-141a-4dbe-b186-f6cd63d5ca61",
      "name": "Skip Optimized Explain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        51360,
        21312
      ]
    },
    {
      "parameters": {
        "jsCode": "const safeFirst = (nodeName) => {\n  try {\n    const result = $(nodeName).first();\n    return result && result.json ? result.json : null;\n  } catch (error) {\n    return null;\n  }\n};\nconst upstreamBase = safeFirst('Merge Optimized Explain Result')\n  || safeFirst('Skip Optimized Explain')\n  || safeFirst('Parse AI Result')\n  || {};\nconst notifyConfig = {\n  fallbackEmail: 'jiangchuanchen@kn.group',\n  forceTestEmail: false,\n  sidecarAccountId: '7660ec09-ec27-4799-8b0e-c66a5322cbc5',\n  sidecarToken: '__FILL_IN_N8N__',\n  weiduSidecarAccountId: 'e623d433-087b-4740-8a9d-c68a1b682cdc',\n  weiduSidecarToken: '__FILL_IN_N8N__',\n  contactOverrideUrl: '',\n  // User-facing form link shown in each alert message.\n  contactUpdateFormUrl: 'https://docs.google.com/forms/d/15Fa_fnvkrS5AwP8Zw127vSJymdvgf_lljMdpjzwCRVE/viewform'\n};\nreturn [{ json: {\n  ...upstreamBase,\n  ...notifyConfig,\n  notifyConfig\n}}];\n"
      },
      "id": "613abd5e-bbb8-422b-bbbf-959c4dcf6008",
      "name": "Notify Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        51880,
        21296
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select email, userId, user\nfrom employee\nwhere (\n  lower(coalesce(userId, '')) in (\n    lower('{{ $('Notify Config').first().json.user }}'),\n    lower('{{ $('Notify Config').first().json.executor }}'),\n    lower('{{ $('Webhook').item.json.body.user }}'),\n    lower('{{ $('Webhook').item.json.body.executor }}'),\n    lower('{{ String($('Notify Config').first().json.user || '').replace(/^u_/i, '') }}'),\n    lower('{{ String($('Notify Config').first().json.executor || '').replace(/^u_/i, '') }}'),\n    lower('{{ String($('Webhook').item.json.body.user || '').replace(/^u_/i, '') }}'),\n    lower('{{ String($('Webhook').item.json.body.executor || '').replace(/^u_/i, '') }}')\n  )\n  or lower(coalesce(user, '')) in (\n    lower('{{ $('Notify Config').first().json.user }}'),\n    lower('{{ $('Notify Config').first().json.executor }}'),\n    lower('{{ $('Webhook').item.json.body.user }}'),\n    lower('{{ $('Webhook').item.json.body.executor }}'),\n    lower(concat('u_', '{{ String($('Notify Config').first().json.user || '').replace(/^u_/i, '') }}')),\n    lower(concat('u_', '{{ String($('Notify Config').first().json.executor || '').replace(/^u_/i, '') }}')),\n    lower(concat('u_', '{{ String($('Webhook').item.json.body.user || '').replace(/^u_/i, '') }}')),\n    lower(concat('u_', '{{ String($('Webhook').item.json.body.executor || '').replace(/^u_/i, '') }}'))\n  )\n  or lower(substring_index(coalesce(email, ''), '@', 1)) in (\n    lower('{{ String($('Notify Config').first().json.user || '').replace(/^u_/i, '') }}'),\n    lower('{{ String($('Notify Config').first().json.executor || '').replace(/^u_/i, '') }}'),\n    lower('{{ String($('Webhook').item.json.body.user || '').replace(/^u_/i, '') }}'),\n    lower('{{ String($('Webhook').item.json.body.executor || '').replace(/^u_/i, '') }}')\n  )\n)\nand email is not null\nand trim(email) <> ''",
        "options": {}
      },
      "id": "adecd3df-2137-4d32-b06e-ef7da9a97dbf",
      "name": "Get User Info",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        52540,
        21296
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "9GlhDNA19PjiP63m",
          "name": "sradmin_用户库"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const safeFirst = (nodeName) => {\n  try {\n    const result = $(nodeName).first();\n    return result && result.json ? result.json : null;\n  } catch (error) {\n    return null;\n  }\n};\nconst safeAll = (nodeName) => {\n  try {\n    return $(nodeName).all().map((item) => item.json || {}).filter((item) => item && Object.keys(item).length > 0);\n  } catch (error) {\n    return [];\n  }\n};\nconst normalizeId = (value) => String(value || '').trim().toLowerCase().replace(/^u_/i, '');\nconst normalizeAccount = (value) => String(value || '').trim().replace(/^u_/i, '');\nconst normalizeEmail = (value) => String(value || '').trim().toLowerCase();\nconst uniq = (values) => Array.from(new Set(values.map((value) => String(value || '').trim()).filter(Boolean)));\nconst notifyNode = safeFirst('Notify Config') || {};\nconst webhookNode = safeFirst('Webhook') || {};\nconst webhookBody = webhookNode.body || {};\nconst upstreamBase = safeFirst('Merge Optimized Explain Result')\n  || safeFirst('Skip Optimized Explain')\n  || safeFirst('Parse AI Result')\n  || {};\nconst base = { ...upstreamBase, ...notifyNode };\nconst config = base.notifyConfig || notifyNode || {};\nconst targetUser = normalizeId(base.user);\nconst targetExecutor = normalizeId(base.executor);\nconst webhookUser = normalizeId(webhookBody.user);\nconst webhookExecutor = normalizeId(webhookBody.executor);\nconst targetIds = Array.from(new Set([targetUser, targetExecutor, webhookUser, webhookExecutor].filter(Boolean)));\nconst rows = $input.all().map((item) => item.json).filter((row) => row && Object.keys(row).length > 0);\nconst rowIdentityValues = (row) => uniq([\n  row.userId,\n  row.user,\n  String(row.user || '').replace(/^u_/i, ''),\n  String(row.email || '').split('@')[0],\n].map(normalizeId));\nconst matchedRows = rows.filter((row) => {\n  const rowEmail = String(row.email || '').trim();\n  if (!rowEmail || !/@/.test(rowEmail)) return false;\n  return rowIdentityValues(row).some((value) => targetIds.includes(value));\n});\nconst fallbackEmail = config.fallbackEmail || 'jiangchuanchen@kn.group';\nconst forceTestEmail = !!config.forceTestEmail;\nconst userEmailOverrides = {\"alyssali\":\"Alyssali@weidu.co\"};\nconst pickMatch = (...ids) => {\n  for (const id of ids) {\n    if (!id) continue;\n    const matched = matchedRows.find((row) => rowIdentityValues(row).includes(id));\n    if (matched && matched.email) return matched;\n  }\n  return null;\n};\nlet primaryEmail = fallbackEmail;\nif (!forceTestEmail) {\n  const matched = pickMatch(targetUser, webhookUser, targetExecutor, webhookExecutor);\n  const overrideEmail = userEmailOverrides[targetUser] || userEmailOverrides[webhookUser] || userEmailOverrides[targetExecutor] || userEmailOverrides[webhookExecutor] || '';\n  primaryEmail = String(overrideEmail || (matched && matched.email) || fallbackEmail).trim() || fallbackEmail;\n}\nconst accountNotifyMap = {\"cn\":{\"bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_fox_load\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_fox_public\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_biz_central_vintage\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_ds_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_ds_fox_dev\":{\"department\":\"贷后业务组\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_fox_api\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_guanyuan_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_guanyuan_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_develop_fox\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_superset_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"樊姝\"],\"emails\":[\"sherylfan@kn.group\"]},\"e_superset_operatanalysis_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_biz_ds_r\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_ds_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_superset_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"starrocks_monitor\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_metabase\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_superset_operatanalysis_add_dd\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_superset_operatanalysis_add_dd_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_ds_fox_wd\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_exp_ro\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_atx\":{\"department\":\"资管运营组\",\"contacts\":[\"董国伟\"],\"emails\":[\"gavindong@kn.group\"]},\"backup_user\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_biz_ds\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_doris_load\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_guanyuan_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_guanyuan_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_ds_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_superset_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_superset_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_guanyuan_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"樊姝\"],\"emails\":[\"sherylfan@kn.group\"]},\"e_guanyuan_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_superset_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_exp_ds\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_guanyuan_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_jupyter_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"樊姝\"],\"emails\":[\"sherylfan@kn.group\"]},\"e_metabase_fox\":{\"department\":\"贷后业务组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_superset_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"root\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_superset_develop\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_superset_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_superset_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_guanyuan_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_guanyuan_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_load\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_superset_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_superset_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_datacheck\":{\"department\":\"组件研发组\",\"contacts\":[\"赵斌\"],\"emails\":[\"binzhao@kn.group\"]},\"e_ds_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_superset_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"admin\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_ds_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_superset_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_sync\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_ds_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"樊姝\"],\"emails\":[\"sherylfan@kn.group\"]},\"e_ds_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_msgsvr_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_report_biz\":{\"department\":\"信贷平台部\",\"contacts\":[\"赵祥\"],\"emails\":[\"xiangzhao@kn.group\"]},\"e_superset_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_operatanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_ds_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_superset_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_superset_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_superset_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_guanyuan_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_jupyter_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_mkt_management\":{\"department\":\"运营平台\",\"contacts\":[\"曹仰燊\"],\"emails\":[\"ceecao@kn.group\"]},\"e_biz_dscentral\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_ds_wd_dm_pub\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ai\":{\"department\":\"数据开发组\",\"contacts\":[\"黄启龙\"],\"emails\":[\"qilonghuang@kn.group\"]},\"e_superset_exp\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_gov_zombie\":{\"department\":\"数据开发组\",\"contacts\":[\"翟爽\"],\"emails\":[\"riverzhai@kn.group\"]},\"e_bigdata_fox\":{\"department\":\"贷后业务组\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_jupyter_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_superset_helios\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_jupyter_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_policy_biz_central\":{\"department\":\"信贷平台部\",\"contacts\":[\"闫明洋\"],\"emails\":[\"mingyangyan@kn.group\"]},\"e_ds_develop_products\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_snperset_dd\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_jupyter_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_jupyter_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_jupyter_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_operatanalysis_add_dd_admin\":{\"department\":\"经营分析组\",\"contacts\":[\"潘晓峰\"],\"emails\":[\"neopan@kn.group\"]},\"e_jupyter_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_jupyter_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"张恒阳\",\"宗美晨\"],\"emails\":[\"owenzhang@kn.group\",\"rockyzong@kn.group\"]},\"e_guanyuan_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"潘晓峰\"],\"emails\":[\"neopan@kn.group\"]},\"e_guanyuan_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_superset_dd\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_jupyter_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\"],\"emails\":[\"brightonzhu@kn.group\"]},\"e_cd_wr\":{\"department\":\"触达系统组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_adhoc_fox_capital\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_ds_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\"],\"emails\":[\"brightonzhu@kn.group\"]},\"e_ds_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_fuxi\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\"],\"emails\":[\"owenzhang@kn.group\"]},\"e_jupyter_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_biz_atx_ds\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_superset_develop_dmp\":{\"department\":\"在线特征组\",\"contacts\":[\"何通军\"],\"emails\":[\"johnhe@kn.group\"]},\"e_superset_develop_dd\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_superset_develop_dd_viewer\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_jupyter_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"潘晓峰\"],\"emails\":[\"neopan@kn.group\"]},\"e_ds_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_bigdata_platform\":{\"department\":\"组件研发组\",\"contacts\":[\"蔡鹏鹏\"],\"emails\":[\"jerrycai@kn.group\"]},\"e_jupyter_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_jupyter_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_ds_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_backup\":{\"department\":\"组件研发组\",\"contacts\":[\"蔡鹏鹏\"],\"emails\":[\"jerrycai@kn.group\"]},\"e_ds_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_businessanalysis_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_jupyter_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"潘晓峰\"],\"emails\":[\"neopan@kn.group\"]},\"e_ds_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_marketing_ma\":{\"department\":\"运营平台\",\"contacts\":[\"王春雷\"],\"emails\":[\"emmawang@kn.group\"]}},\"ine\":{\"e_fox_load\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_fox_public\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_superset_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"周楚雄\"],\"emails\":[\"daviszhou@kn.group\"]},\"e_superset_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_guanyuan_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_guanyuan_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_guanyuan_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_metabase_fox\":{\"department\":\"贷后业务组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_om\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_superset_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_superset_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_yf_load\":{\"department\":\"风控平台组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_biz_ine_r\":{\"department\":\"信贷平台部\",\"contacts\":[\"刘森\"],\"emails\":[\"lukasliu@kn.group\"]},\"e_monitor\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_superset_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"唐光胜\"],\"emails\":[\"gordontang@kn.group\"]},\"e_superset_operatanalysis_add_dd_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"王彬\"],\"emails\":[\"binwang@kn.group\"]},\"backup_user\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_biz_ds\":{\"department\":\"信贷平台部\",\"contacts\":[\"刘森\"],\"emails\":[\"lukasliu@kn.group\"]},\"e_doris_load\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_guanyuan_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"唐光胜\"],\"emails\":[\"gordontang@kn.group\"]},\"e_load\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_superset_atx\":{\"department\":\"资管运营组\",\"contacts\":[\"董国伟\"],\"emails\":[\"gavindong@kn.group\"]},\"e_superset_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_superset_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"root\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_superset_operatanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"孙云\",\"王彬\"],\"emails\":[\"echosun@kn.group\",\"binwang@kn.group\"]},\"e_datacheck\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_ds_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"王勇\",\"王婉婷\"],\"emails\":[\"ivanwang@kn.group\",\"clarawang@kn.group\"]},\"e_guanyuan_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_develop\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_superset_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_adhoc_aifox\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_ds_fox_wd\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"admin\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_ds_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"唐光胜\"],\"emails\":[\"gordontang@kn.group\"]},\"e_ds_product\":{\"department\":\"产品部\",\"contacts\":[\"周楚雄\"],\"emails\":[\"daviszhou@kn.group\"]},\"e_ds_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_fox_api\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_guanyuan_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_report_biz\":{\"department\":\"信贷平台部\",\"contacts\":[\"刘森\"],\"emails\":[\"lukasliu@kn.group\"]},\"e_superset_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_operatanalysis_add_dd\":{\"department\":\"商业分析组\",\"contacts\":[\"陈静\"],\"emails\":[\"jennychen@kn.group\"]},\"e_superset_operatanalysis_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"王彬\"],\"emails\":[\"binwang@kn.group\"]},\"e_superset_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"王勇\",\"王婉婷\"],\"emails\":[\"ivanwang@kn.group\",\"clarawang@kn.group\"]},\"e_sync\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_guanyuan_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"王勇\",\"王婉婷\"],\"emails\":[\"ivanwang@kn.group\",\"clarawang@kn.group\"]},\"e_metabase_yf\":{\"department\":\"决策工程组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_superset_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_superset_product\":{\"department\":\"产品部\",\"contacts\":[\"周楚雄\"],\"emails\":[\"daviszhou@kn.group\"]},\"e_superset_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_msgsvr_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_superset_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"孙云\",\"卞仑\"],\"emails\":[\"echosun@kn.group\",\"leobian@kn.group\"]},\"e_guanyuan_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_superset_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_guanyuan_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_datahub\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_ds_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"孙云\",\"卞仑\"],\"emails\":[\"echosun@kn.group\",\"leobian@kn.group\"]},\"e_superset_develop_fox\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"孙云\",\"卞仑\"],\"emails\":[\"echosun@kn.group\",\"leobian@kn.group\"]},\"e_metabase\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_superset_irsd_wadezhu\":{\"department\":\"创新策略组\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"starrocks_monitor\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_argus_load\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_ds_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_ds_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_superset_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_data_adload\":{\"department\":\"数据产品组\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_superset_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_guanyuan_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_mkt_management\":{\"department\":\"运营平台\",\"contacts\":[\"曹仰燊\"],\"emails\":[\"ceecao@kn.group\"]},\"e_biz_dscentral\":{\"department\":\"信贷平台部\",\"contacts\":[\"刘森\"],\"emails\":[\"lukasliu@kn.group\"]},\"e_argus_hermes\":{\"department\":\"财务组\",\"contacts\":[\"杨智\"],\"emails\":[\"zackyang@kn.group\"]},\"e_gov_zombie\":{\"department\":\"数据开发组\",\"contacts\":[\"翟爽\"],\"emails\":[\"riverzhai@kn.group\"]},\"e_exp\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_ds_data_develop\":{\"department\":\"研发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_ds_develop_products\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_ds_data_product\":{\"department\":\"数据产品组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_app_fe\":{\"department\":\"研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_load2\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_adhoc_dm_dd\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_superset_frontd\":{\"department\":\"研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_operatanalysis_add_dd_admin\":{\"department\":\"经营分析组\",\"contacts\":[\"王彬\"],\"emails\":[\"binwang@kn.group\"]},\"e_guanyuan_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"王彬\"],\"emails\":[\"binwang@kn.group\"]},\"e_fox_bi\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_guanyuan_product\":{\"department\":\"产品部\",\"contacts\":[\"周楚雄\"],\"emails\":[\"daviszhou@kn.group\"]},\"e_metabase2\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_tmk_dwb\":{\"department\":\"用户增长组\",\"contacts\":[\"王勇\",\"王婉婷\"],\"emails\":[\"ivanwang@kn.group\",\"clarawang@kn.group\"]},\"e_jupyter_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_adhoc_fox_capital\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_guanyuan_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_ds_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_ds_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_fuxi\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_adhoc_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_superset_develop_dmp\":{\"department\":\"在线特征组\",\"contacts\":[\"何通军\"],\"emails\":[\"johnhe@kn.group\"]},\"e_superset_develop_dd\":{\"department\":\"合规业务组\",\"contacts\":[\"王彬\"],\"emails\":[\"binwang@kn.group\"]},\"e_superset_develop_dd_viewer\":{\"department\":\"合规业务组\",\"contacts\":[\"王彬\"],\"emails\":[\"binwang@kn.group\"]},\"e_ds_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"王彬\"],\"emails\":[\"binwang@kn.group\"]},\"e_ds_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_bigdata_platform\":{\"department\":\"组件研发组\",\"contacts\":[\"蔡鹏鹏\"],\"emails\":[\"jerrycai@kn.group\"]},\"e_sp\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_jupyter_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_ds_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_businessanalysis_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"孙云\",\"卞仑\"],\"emails\":[\"echosun@kn.group\",\"leobian@kn.group\"]},\"e_adhoc_service\":{\"department\":\"数据开发组\",\"contacts\":[\"何柳琴\",\"翟爽\"],\"emails\":[\"gretchenhe@kn.group\",\"riverzhai@kn.group\"]},\"e_marketing_ma\":{\"department\":\"运营平台\",\"contacts\":[\"曹仰燊\"],\"emails\":[\"ceecao@kn.group\"]}},\"th\":{\"e_ds_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_superset_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_superset_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_superset_irsd_wadezhu\":{\"department\":\"创新策略组\",\"contacts\":[\"张雷\"],\"emails\":[\"leizhang@kn.group\"]},\"e_superset_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"罗玉瑰\"],\"emails\":[\"rosieluo@kn.group\"]},\"starrocks_monitor\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_argus_load\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_ds_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_fox_load\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_fox_public\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_report_read\":{\"department\":\"信贷平台部\",\"contacts\":[\"赵祥\"],\"emails\":[\"xiangzhao@kn.group\"]},\"admin\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_ds_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_superset_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_sync\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_biz_tha_r\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_ds_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"罗玉瑰\"],\"emails\":[\"rosieluo@kn.group\"]},\"e_metabase_fin_global\":{\"department\":\"经营分析组\",\"contacts\":[\"罗玉瑰\"],\"emails\":[\"rosieluo@kn.group\"]},\"e_superset_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_superset_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_superset_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_ds_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"周明彦\"],\"emails\":[\"mingyanzhou@kn.group\"]},\"e_ds_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_monitor\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_msgsvr_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_report_biz\":{\"department\":\"信贷平台部\",\"contacts\":[\"赵祥\"],\"emails\":[\"xiangzhao@kn.group\"]},\"e_superset_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_operatanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_ds_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_guanyuan_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"周明彦\"],\"emails\":[\"mingyanzhou@kn.group\"]},\"e_guanyuan_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"罗玉瑰\"],\"emails\":[\"rosieluo@kn.group\"]},\"e_superset_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_metabase\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_superset_operatanalysis_add_dd\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_superset_operatanalysis_add_dd_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_fox_wd\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_exp_ro\":{\"department\":\"离线标签组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_superset_atx\":{\"department\":\"资管运营组\",\"contacts\":[\"董国伟\"],\"emails\":[\"gavindong@kn.group\"]},\"e_exp_ds\":{\"department\":\"离线标签组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_guanyuan_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_metabase_fox\":{\"department\":\"贷后业务组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_superset_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"root\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_data_adload\":{\"department\":\"数据产品组\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_datacheck\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_superset_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_ds_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_fox_api\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_guanyuan_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_guanyuan_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_develop_fox\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_superset_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"周明彦\"],\"emails\":[\"mingyanzhou@kn.group\"]},\"e_superset_operatanalysis_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_om\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_superset_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_superset_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"ong\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"backup_user\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_doris_load\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_guanyuan_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_guanyuan_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_adhoc_aifox\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_guanyuan_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_guanyuan_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_load\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_superset_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_superset_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_datadev_public\":{\"department\":\"数据开发组\",\"contacts\":[\"严翔\"],\"emails\":[\"yuyiiyan@kn.group\"]},\"e_infra_gbm_ddl\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_mkt_management\":{\"department\":\"运营平台\",\"contacts\":[\"曹仰燊\"],\"emails\":[\"ceecao@kn.group\"]},\"e_biz_dscentral\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_gov_zombie\":{\"department\":\"数据开发组\",\"contacts\":[\"翟爽\"],\"emails\":[\"riverzhai@kn.group\"]},\"e_infra_gbm\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_superset_helios\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_presto\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_ds_develop_products\":{\"department\":\"离线标签\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_report_atx\":{\"department\":\"资管运营组\",\"contacts\":[\"董国伟\"],\"emails\":[\"gavindong@kn.group\"]},\"e_infra_gbm_test\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_cluster_sync\":{\"department\":\"组件研发组\",\"contacts\":[\"蔡鹏鹏\"],\"emails\":[\"jerrycai@kn.group\"]},\"e_load2\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_janus\":{\"department\":\"数据开发组\",\"contacts\":[\"陈潇\"],\"emails\":[\"vexchen@kn.group\"]},\"e_superset_frontd\":{\"department\":\"研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_operatanalysis_add_dd_admin\":{\"department\":\"经营分析组\",\"contacts\":[\"宋倩\"],\"emails\":[\"miasong@kn.group\"]},\"e_guanyuan_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"宋倩\"],\"emails\":[\"miasong@kn.group\"]},\"e_fox_bi\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_guanyuan_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_metabase2\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_gbm_infra\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_adhoc_fox\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_tmk_dwb\":{\"department\":\"用户增长组\",\"contacts\":[\"罗玉瑰\"],\"emails\":[\"rosieluo@kn.group\"]},\"e_jupyter_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\"],\"emails\":[\"brightonzhu@kn.group\"]},\"e_cd_wr\":{\"department\":\"触达系统组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_adhoc_fox_capital\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_ds_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\"],\"emails\":[\"brightonzhu@kn.group\"]},\"e_report\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_ds_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_fuxi\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\"],\"emails\":[\"owenzhang@kn.group\"]},\"e_guanyuan_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_superset_develop_dmp\":{\"department\":\"在线特征组\",\"contacts\":[\"何通军\"],\"emails\":[\"johnhe@kn.group\"]},\"e_superset_develop_dd\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_superset_develop_dd_viewer\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_ds_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"宋倩\"],\"emails\":[\"miasong@kn.group\"]},\"e_ds_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_bigdata_platform\":{\"department\":\"组件研发组\",\"contacts\":[\"蔡鹏鹏\"],\"emails\":[\"jerrycai@kn.group\"]},\"e_sp\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_jupyter_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_risk_th\":{\"department\":\"信贷策略中心\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_ds_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_rtls\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_ds_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_businessanalysis_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_adhoc_service\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]},\"e_marketing_ma\":{\"department\":\"运营平台\",\"contacts\":[\"王春雷\"],\"emails\":[\"emmawang@kn.group\"]},\"e_superset_develop\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\",\"黄启龙\"],\"emails\":[\"brightonzhu@kn.group\",\"qilonghuang@kn.group\"]}},\"ph\":{\"e_biz_phl_r\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_metabase\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_superset_biz\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_superset_operatanalysis_add_dd\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_superset_operatanalysis_add_dd_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_ds_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"许诺\"],\"emails\":[\"lunaxu@kn.group\"]},\"e_superset_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_superset_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_superset_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_ds_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"周明彦\"],\"emails\":[\"mingyanzhou@kn.group\"]},\"e_ds_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_msgsvr_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_report_biz\":{\"department\":\"信贷平台部\",\"contacts\":[\"赵祥\"],\"emails\":[\"xiangzhao@kn.group\"]},\"e_superset_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_operatanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_ds_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_guanyuan_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"周明彦\"],\"emails\":[\"mingyanzhou@kn.group\"]},\"e_guanyuan_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"许诺\"],\"emails\":[\"lunaxu@kn.group\"]},\"e_superset_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_guanyuan_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_guanyuan_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_load\":{\"department\":\"数据开发组\",\"contacts\":[\"汤伟\",\"陈江川\"],\"emails\":[\"simontang@kn.group\",\"jiangchuanchen@kn.group\"]},\"e_superset_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"汤伟\",\"陈江川\"],\"emails\":[\"simontang@kn.group\",\"jiangchuanchen@kn.group\"]},\"e_superset_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_fox_wd\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_atx\":{\"department\":\"资管运营组\",\"contacts\":[\"董国伟\"],\"emails\":[\"gavindong@kn.group\"]},\"e_ds_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_fox_api\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_guanyuan_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_guanyuan_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_develop_fox\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_superset_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"周明彦\"],\"emails\":[\"mingyanzhou@kn.group\"]},\"e_superset_operatanalysis_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_data_adload\":{\"department\":\"数据产品组\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_datacheck\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_superset_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_guanyuan_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_superset_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"root\":{\"department\":\"数据开发组\",\"contacts\":[\"汤伟\",\"陈江川\"],\"emails\":[\"simontang@kn.group\",\"jiangchuanchen@kn.group\"]},\"e_ds_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_superset_irsd_wadezhu\":{\"department\":\"创新策略组\",\"contacts\":[\"张雷\"],\"emails\":[\"leizhang@kn.group\"]},\"e_superset_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"许诺\"],\"emails\":[\"lunaxu@kn.group\"]},\"starrocks_monitor\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_superset_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_superset_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"admin\":{\"department\":\"数据开发组\",\"contacts\":[\"汤伟\",\"陈江川\"],\"emails\":[\"simontang@kn.group\",\"jiangchuanchen@kn.group\"]},\"e_ds_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_superset_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_sync\":{\"department\":\"数据开发组\",\"contacts\":[\"汤伟\",\"陈江川\"],\"emails\":[\"simontang@kn.group\",\"jiangchuanchen@kn.group\"]},\"backup_user\":{\"department\":\"数据开发组\",\"contacts\":[\"汤伟\",\"陈江川\"],\"emails\":[\"simontang@kn.group\",\"jiangchuanchen@kn.group\"]},\"e_doris_load\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_guanyuan_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"万家辉\",\"王凡\"],\"emails\":[\"jaywan.j@kn.group\",\"derrickwang@kn.group\"]},\"e_guanyuan_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_argus_load\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_ds_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_fox_load\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_fox_public\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_superset_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_superset_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_mkt_management\":{\"department\":\"运营平台\",\"contacts\":[\"曹仰燊\"],\"emails\":[\"ceecao@kn.group\"]},\"e_biz_dscentral\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_gov_zombie\":{\"department\":\"数据开发组\",\"contacts\":[\"翟爽\"],\"emails\":[\"riverzhai@kn.group\"]},\"e_ad_agent\":{\"department\":\"用户增长组\",\"contacts\":[\"许诺\"],\"emails\":[\"lunaxu@kn.group\"]},\"e_exp\":{\"department\":\"离线标签\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_helios\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_ds_data_develop\":{\"department\":\"研发组\",\"contacts\":[\"蔡鹏鹏\"],\"emails\":[\"jerrycai@kn.group\"]},\"e_ds_develop_products\":{\"department\":\"离线标签\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_report_atx\":{\"department\":\"资管运营组\",\"contacts\":[\"董国伟\"],\"emails\":[\"gavindong@kn.group\"]},\"e_ds_data_product\":{\"department\":\"数据产品组\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_janus\":{\"department\":\"数据开发组\",\"contacts\":[\"陈潇\"],\"emails\":[\"vexchen@kn.group\"]},\"e_guanyuan_otc\":{\"department\":\"资管运营组\",\"contacts\":[\"董国伟\"],\"emails\":[\"gavindong@kn.group\"]},\"e_ds_operatanalysis_add_dd_admin\":{\"department\":\"经营分析组\",\"contacts\":[\"宋倩\"],\"emails\":[\"miasong@kn.group\"]},\"e_guanyuan_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"宋倩\"],\"emails\":[\"miasong@kn.group\"]},\"e_guanyuan_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_metabase2\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_app_phl\":{\"department\":\"数据开发组\",\"contacts\":[\"汤伟\",\"陈江川\"],\"emails\":[\"simontang@kn.group\",\"jiangchuanchen@kn.group\"]},\"e_jupyter_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\"],\"emails\":[\"brightonzhu@kn.group\"]},\"e_cd_wr\":{\"department\":\"触达系统组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_ds_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"朱会明\"],\"emails\":[\"brightonzhu@kn.group\"]},\"e_biz_portal\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_ds_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_fuxi\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\"],\"emails\":[\"owenzhang@kn.group\"]},\"e_biz_phl_w\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_grafana\":{\"department\":\"数据开发组\",\"contacts\":[\"汤伟\",\"陈江川\"],\"emails\":[\"simontang@kn.group\",\"jiangchuanchen@kn.group\"]},\"e_superset_develop_dmp\":{\"department\":\"在线特征组\",\"contacts\":[\"何通军\"],\"emails\":[\"johnhe@kn.group\"]},\"e_superset_develop_dd\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_superset_develop_dd_viewer\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_ds_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"宋倩\"],\"emails\":[\"miasong@kn.group\"]},\"e_ds_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_bigdata_platform\":{\"department\":\"组件研发组\",\"contacts\":[\"蔡鹏鹏\"],\"emails\":[\"jerrycai@kn.group\"]},\"e_jupyter_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_ds_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_develop_product\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_businessanalysis_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_marketing_ma\":{\"department\":\"运营平台\",\"contacts\":[\"王春雷\"],\"emails\":[\"emmawang@kn.group\"]},\"e_superset_develop\":{\"department\":\"数据开发组\",\"contacts\":[\"汤伟\",\"陈江川\"],\"emails\":[\"simontang@kn.group\",\"jiangchuanchen@kn.group\"]}},\"pk\":{\"e_metabase\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_ds_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_argus_load\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_fox_load\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_fox_public\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"starrocks_monitor\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_exp_public\":{\"department\":\"数据开发组\",\"contacts\":[\"余红叶\",\"穆晋杰\"],\"emails\":[\"adamyu@kn.group\",\"moonmu@kn.group\"]},\"e_guanyuan_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"admin\":{\"department\":\"数据开发组\",\"contacts\":[\"余红叶\",\"穆晋杰\"],\"emails\":[\"adamyu@kn.group\",\"moonmu@kn.group\"]},\"e_sync\":{\"department\":\"数据开发组\",\"contacts\":[\"余红叶\",\"穆晋杰\"],\"emails\":[\"adamyu@kn.group\",\"moonmu@kn.group\"]},\"e_ds_fox_wd\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"林志诚\"],\"emails\":[\"jazonlin@kn.group\"]},\"e_ds_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_fox_api\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_guanyuan_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_guanyuan_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"余红叶\",\"穆晋杰\"],\"emails\":[\"adamyu@kn.group\",\"moonmu@kn.group\"]},\"e_guanyuan_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_guanyuan_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_load\":{\"department\":\"数据开发组\",\"contacts\":[\"余红叶\",\"穆晋杰\"],\"emails\":[\"adamyu@kn.group\",\"moonmu@kn.group\"]},\"e_ds_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_guanyuan_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"樊姝\"],\"emails\":[\"sherylfan@kn.group\"]},\"e_guanyuan_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"林志诚\"],\"emails\":[\"jazonlin@kn.group\"]},\"e_ds_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"樊姝\"],\"emails\":[\"sherylfan@kn.group\"]},\"e_ds_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_msgsvr_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_report_biz\":{\"department\":\"信贷平台部\",\"contacts\":[\"赵祥\"],\"emails\":[\"xiangzhao@kn.group\"]},\"e_guanyuan_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"root\":{\"department\":\"数据开发组\",\"contacts\":[\"余红叶\",\"穆晋杰\"],\"emails\":[\"adamyu@kn.group\",\"moonmu@kn.group\"]},\"e_data_adload\":{\"department\":\"数据产品组\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_ds_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"backup_user\":{\"department\":\"数据开发组\",\"contacts\":[\"余红叶\",\"穆晋杰\"],\"emails\":[\"adamyu@kn.group\",\"moonmu@kn.group\"]},\"e_biz_pak_r\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_guanyuan_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_guanyuan_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_guanyuan_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"宋倩\"],\"emails\":[\"miasong@kn.group\"]},\"e_guanyuan_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_metabase2\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_feature_bigdata_api\":{\"department\":\"组件研发组\",\"contacts\":[\"何通军\"],\"emails\":[\"johnhe@kn.group\"]},\"e_cd_wr\":{\"department\":\"触达系统组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_mkt_management\":{\"department\":\"运营平台\",\"contacts\":[\"曹仰燊\"],\"emails\":[\"ceecao@kn.group\"]},\"e_biz_dscentral\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_ai\":{\"department\":\"数据开发组\",\"contacts\":[\"黄启龙\"],\"emails\":[\"qilonghuang@kn.group\"]},\"e_gov_zombie\":{\"department\":\"数据开发组\",\"contacts\":[\"翟爽\"],\"emails\":[\"riverzhai@kn.group\"]},\"e_ds_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_feature_sr\":{\"department\":\"数据开发组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_fuxi\":{\"department\":\"数据开发组\",\"contacts\":[\"张恒阳\"],\"emails\":[\"owenzhang@kn.group\"]},\"e_superset_helios\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_ds_data_develop\":{\"department\":\"研发组\",\"contacts\":[\"余红叶\",\"穆晋杰\"],\"emails\":[\"adamyu@kn.group\",\"moonmu@kn.group\"]},\"e_ds_develop_products\":{\"department\":\"离线标签\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_ds_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"宋倩\"],\"emails\":[\"miasong@kn.group\"]},\"e_ds_data_product\":{\"department\":\"数据产品组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_ds_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_bigdata_platform\":{\"department\":\"组件研发组\",\"contacts\":[\"蔡鹏鹏\"],\"emails\":[\"jerrycai@kn.group\"]},\"e_ds_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_janus\":{\"department\":\"数据开发组\",\"contacts\":[\"陈潇\"],\"emails\":[\"vexchen@kn.group\"]},\"e_superset_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"余红叶\",\"穆晋杰\"],\"emails\":[\"adamyu@kn.group\",\"moonmu@kn.group\"]},\"e_ds_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_ds_operatanalysis_add_dd_admin\":{\"department\":\"经营分析组\",\"contacts\":[\"宋倩\"],\"emails\":[\"miasong@kn.group\"]},\"e_marketing_ma\":{\"department\":\"运营平台\",\"contacts\":[\"王春雷\"],\"emails\":[\"emmawang@kn.group\"]},\"e_superset_develop\":{\"department\":\"数据开发组\",\"contacts\":[\"余红叶\",\"穆晋杰\"],\"emails\":[\"adamyu@kn.group\",\"moonmu@kn.group\"]}},\"mx\":{\"e_adhoc_aifox\":{\"department\":\"贷后业务组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_guanyuan_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_guanyuan_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_load\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_superset_develop_bi\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_superset_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_exp_public\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_guanyuan_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_guanyuan_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"樊姝\"],\"emails\":[\"sherylfan@kn.group\"]},\"e_guanyuan_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"杨莹\",\"郭雨凝\"],\"emails\":[\"yayioyang@kn.group\",\"elenaguo@kn.group\"]},\"e_superset_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"backup_user\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_guanyuan_irsd\":{\"department\":\"创新策略组\",\"contacts\":[\"杨杨\"],\"emails\":[\"youngyang@kn.group\"]},\"e_guanyuan_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_exp_ds\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_guanyuan_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_guanyuan_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_metabase_fox\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_superset_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"root\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_om\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_superset_develop\":{\"department\":\"研发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_superset_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_superset_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_ds_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"杨莹\",\"郭雨凝\"],\"emails\":[\"yayioyang@kn.group\",\"elenaguo@kn.group\"]},\"e_superset_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_superset_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_superset_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_ds_aifox\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_strategy\":{\"department\":\"信贷策略中心\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_superset_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_superset_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_biz_mex_r\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_ds_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_fox_api\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_guanyuan_businessanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_guanyuan_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_superset_develop_fox\":{\"department\":\"产能效率部\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_superset_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"樊姝\"],\"emails\":[\"sherylfan@kn.group\"]},\"e_superset_operatanalysis_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_argus_load\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_ds_wd_decision\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_fox_load\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_fox_public\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_report_read\":{\"department\":\"信贷平台部\",\"contacts\":[\"赵祥\"],\"emails\":[\"xiangzhao@kn.group\"]},\"e_metabase\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_superset_biz\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_superset_operatanalysis_add_dd\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_superset_operatanalysis_add_dd_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_ds_model\":{\"department\":\"智能模型中心\",\"contacts\":[\"杨懿宁\",\"詹栩怡\"],\"emails\":[\"zorayang@kn.group\",\"carriezhan@kn.group\"]},\"e_ds_wd_compliance\":{\"department\":\"唯渡\",\"contacts\":[\"杨朔\"],\"emails\":[\"Joshuayang@weidu.co\"]},\"e_msgsvr_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_report_biz\":{\"department\":\"信贷平台部\",\"contacts\":[\"赵祥\"],\"emails\":[\"xiangzhao@kn.group\"]},\"e_superset_develop_product\":{\"department\":\"产品部\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_operatanalysis\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_bigdata\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_fox_wd\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_exp_ro\":{\"department\":\"离线标签组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_superset_atx\":{\"department\":\"资管运营组\",\"contacts\":[\"董国伟\"],\"emails\":[\"gavindong@kn.group\"]},\"admin\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_ds_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_superset_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_sync\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_data_adload\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_datacheck\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_ds_wd_finance\":{\"department\":\"唯渡\",\"contacts\":[\"胡婷婷\"],\"emails\":[\"tiffanyhu@weidu.co\"]},\"e_superset_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_biz_ds_r\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_ds_wd_efficiency\":{\"department\":\"唯渡\",\"contacts\":[\"陈俊丰\",\"胡海昌\"],\"emails\":[\"lavinechen@weidu.co\",\"popeyehu@weidu.co\"]},\"e_superset_irsd_wadezhu\":{\"department\":\"创新策略组\",\"contacts\":[\"朱超凡\"],\"emails\":[\"wadezhu@kn.group\"]},\"e_superset_tmk\":{\"department\":\"用户增长组\",\"contacts\":[\"杨莹\",\"郭雨凝\"],\"emails\":[\"yayioyang@kn.group\",\"elenaguo@kn.group\"]},\"starrocks_monitor\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_mkt_management\":{\"department\":\"运营域\",\"contacts\":[\"曹仰燊\"],\"emails\":[\"ceecao@kn.group\"]},\"e_biz_dscentral\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_superset_exp\":{\"department\":\"离线标签\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_gov_zombie\":{\"department\":\"数据开发\",\"contacts\":[\"翟爽\"],\"emails\":[\"riverzhai@kn.group\"]},\"e_ad_agent\":{\"department\":\"投放域\",\"contacts\":[\"童洪波\"],\"emails\":[\"hongbotong@kn.group\"]},\"e_superset_helios\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_biz_r\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_ds_develop_products\":{\"department\":\"离线标签\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_report_atx\":{\"department\":\"资管运营组\",\"contacts\":[\"董国伟\"],\"emails\":[\"gavindong@kn.group\"]},\"e_load2\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_mx_eye\":{\"department\":\"前端组\",\"contacts\":[\"孔天宇\"],\"emails\":[\"tianyukong@kn.group\"]},\"e_snperset_dd\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_superset\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_import\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_audit\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_janus\":{\"department\":\"组件研发组\",\"contacts\":[\"陈潇\"],\"emails\":[\"vexchen@kn.group\"]},\"e_ds_operatanalysis_add_dd_admin\":{\"department\":\"经营分析组\",\"contacts\":[\"吕召伟\"],\"emails\":[\"leolyu@kn.group\"]},\"e_guanyuan_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"吕召伟\"],\"emails\":[\"leolyu@kn.group\"]},\"e_fox_bi\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_guanyuan_product\":{\"department\":\"产品部\",\"contacts\":[\"张峻\"],\"emails\":[\"junzhang@kn.group\"]},\"e_metabase2\":{\"department\":\"数据开发组\",\"contacts\":[\"梁妙\"],\"emails\":[\"miraliang@kn.group\"]},\"e_adhoc_fox\":{\"department\":\"贷后业务组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]},\"e_superset_dd\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_tmk_dwb\":{\"department\":\"用户增长组\",\"contacts\":[\"杨莹\",\"郭雨凝\"],\"emails\":[\"yayioyang@kn.group\",\"elenaguo@kn.group\"]},\"e_jupyter_develop_bi\":{\"department\":\"数据开发\",\"contacts\":[\"朱会明\"],\"emails\":[\"brightonzhu@kn.group\"]},\"e_cd_wr\":{\"department\":\"触达系统组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_adhoc_fox_capital\":{\"department\":\"贷后业务组\",\"contacts\":[\"刘建波\"],\"emails\":[\"jianboliu@kn.group\"]},\"e_ds_develop_bi\":{\"department\":\"数据开发\",\"contacts\":[\"朱会明\"],\"emails\":[\"brightonzhu@kn.group\"]},\"e_biz_w\":{\"department\":\"信贷平台部\",\"contacts\":[\"张罗陶\"],\"emails\":[\"lotuszhang@kn.group\"]},\"e_argus_model_ai\":{\"department\":\"用户中心组\",\"contacts\":[\"龚志强\"],\"emails\":[\"brucegong@kn.group\"]},\"e_ds_qa\":{\"department\":\"质量效能部\",\"contacts\":[\"朱莎莎\"],\"emails\":[\"zhushasha@kn.group\"]},\"e_fuxi\":{\"department\":\"数据开发\",\"contacts\":[\"张恒阳\"],\"emails\":[\"owenzhang@kn.group\"]},\"e_superset_develop_dmp\":{\"department\":\"在线特征组\",\"contacts\":[\"何通军\"],\"emails\":[\"johnhe@kn.group\"]},\"e_superset_develop_dd\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_superset_develop_dd_viewer\":{\"department\":\"合规业务组\",\"contacts\":[\"黄超\"],\"emails\":[\"huangchao@kn.group\"]},\"e_ds_operatanalysis\":{\"department\":\"经营分析组\",\"contacts\":[\"吕召伟\"],\"emails\":[\"leolyu@kn.group\"]},\"e_featuresys_public\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_ds_develop_finance\":{\"department\":\"财务组\",\"contacts\":[\"黄天成\"],\"emails\":[\"neekityhuang@kn.group\"]},\"e_bigdata_platform\":{\"department\":\"组件研发组\",\"contacts\":[\"蔡鹏鹏\"],\"emails\":[\"jerrycai@kn.group\"]},\"e_feature_dw\":{\"department\":\"离线标签组\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_jupyter_develop_product\":{\"department\":\"离线标签\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_ds_wd_data\":{\"department\":\"唯渡\",\"contacts\":[\"杜艳华\"],\"emails\":[\"elsadu@weidu.co\"]},\"e_ds_develop_product\":{\"department\":\"离线标签\",\"contacts\":[\"肖静\"],\"emails\":[\"jingxiao@kn.group\"]},\"e_superset_businessanalysis_admin\":{\"department\":\"商业分析组\",\"contacts\":[\"奚之明\"],\"emails\":[\"xizhiming@kn.group\"]},\"e_ds_oa\":{\"department\":\"OA组\",\"contacts\":[\"范春波\"],\"emails\":[\"robfan@kn.group\"]},\"e_marketing_ma\":{\"department\":\"运营域\",\"contacts\":[\"王春雷\"],\"emails\":[\"emmawang@kn.group\"]},\"e_ddp\":{\"department\":\"组件研发组\",\"contacts\":[\"刘壮\"],\"emails\":[\"strongliu@kn.group\"]},\"e_feature_migrate\":{\"department\":\"数据开发组\",\"contacts\":[\"何通军\"],\"emails\":[\"johnhe@kn.group\"]},\"e_adhoc_service\":{\"department\":\"数据开发组\",\"contacts\":[\"吴奎\",\"邓保保\"],\"emails\":[\"kuiwu@kn.group\",\"enzodeng@kn.group\"]}}};\nconst splitPeople = (value) => String(value || '')\n  .split(/[、,，;；/\\\\|\\n\\r\\t]+/)\n  .map((item) => item.trim())\n  .filter(Boolean);\nconst canonicalSheet = (value) => {\n  const text = String(value || '').trim().toLowerCase();\n  if (!text) return '';\n  if (/中国|china|starrocks_cn|\\bcn\\b/.test(text)) return 'cn';\n  if (/印尼|indonesia|starrocks_ine|starrocks_id|\\bine\\b|\\bid\\b/.test(text)) return 'ine';\n  if (/泰国|thailand|starrocks_th|\\bth\\b/.test(text)) return 'th';\n  if (/菲律宾|philippines|starrocks_ph|\\bph\\b/.test(text)) return 'ph';\n  if (/巴基斯坦|pakistan|starrocks_pak|starrocks_pk|\\bpak\\b|\\bpk\\b/.test(text)) return 'pk';\n  if (/墨西哥|mexico|starrocks_mex|starrocks_mx|\\bmex\\b|\\bmx\\b/.test(text)) return 'mx';\n  return text;\n};\nconst firstField = (row, names) => {\n  for (const name of names) {\n    if (row[name] !== undefined && row[name] !== null && String(row[name]).trim() !== '') return row[name];\n  }\n  return '';\n};\nconst parseCsvRows = (text) => {\n  const rows = [];\n  let row = [];\n  let field = '';\n  let inQuotes = false;\n  const input = String(text || '');\n  for (let i = 0; i < input.length; i += 1) {\n    const ch = input[i];\n    if (ch === '\"') {\n      if (inQuotes && input[i + 1] === '\"') {\n        field += '\"';\n        i += 1;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (ch === ',' && !inQuotes) {\n      row.push(field);\n      field = '';\n    } else if ((ch === '\\n' || ch === '\\r') && !inQuotes) {\n      if (ch === '\\r' && input[i + 1] === '\\n') i += 1;\n      row.push(field);\n      if (row.some((cell) => String(cell).trim())) rows.push(row);\n      row = [];\n      field = '';\n    } else {\n      field += ch;\n    }\n  }\n  row.push(field);\n  if (row.some((cell) => String(cell).trim())) rows.push(row);\n  if (rows.length < 2) return [];\n  const headers = rows[0].map((cell) => String(cell || '').trim());\n  return rows.slice(1).map((cells) => Object.fromEntries(headers.map((header, index) => [header, cells[index] || ''])));\n};\nconst normalizeOverrideRows = (rawItems) => {\n  const normalized = [];\n  for (const item of rawItems) {\n    if (Array.isArray(item)) {\n      normalized.push(...normalizeOverrideRows(item));\n      continue;\n    }\n    const body = item.data || item.body || item.response || item;\n    if (typeof body === 'string') {\n      const text = body.trim();\n      if (!text) continue;\n      try {\n        const parsed = JSON.parse(text);\n        normalized.push(...normalizeOverrideRows(Array.isArray(parsed) ? parsed : [parsed]));\n      } catch (error) {\n        normalized.push(...parseCsvRows(text));\n      }\n      continue;\n    }\n    if (body && typeof body === 'object') {\n      if (Array.isArray(body)) normalized.push(...normalizeOverrideRows(body));\n      else if (Array.isArray(body.rows)) normalized.push(...normalizeOverrideRows(body.rows));\n      else if (Array.isArray(body.data)) normalized.push(...normalizeOverrideRows(body.data));\n      else normalized.push(body);\n    }\n  }\n  return normalized;\n};\nconst overrideCountryOwners = {\n  cn: { contacts: ['张恒阳', '宗美晨'], emails: ['owenzhang@kn.group', 'rockyzong@kn.group'] },\n  ine: { contacts: ['何柳琴', '翟爽'], emails: ['gretchenhe@kn.group', 'riverzhai@kn.group'] },\n  th: { contacts: ['黄启龙', '朱会明'], emails: ['qilonghuang@kn.group', 'brightonzhu@kn.group'] },\n  ph: { contacts: ['汤伟', '陈江川'], emails: ['simontang@kn.group', 'jiangchuanchen@kn.group'] },\n  pk: { contacts: ['余红叶', '穆晋杰'], emails: ['adamyu@kn.group', 'moonmu@kn.group'] },\n  mx: { contacts: ['吴奎', '邓保保'], emails: ['kuiwu@kn.group', 'enzodeng@kn.group'] },\n};\nconst applyContactOverrides = (rows) => {\n  const applied = [];\n  for (const row of rows) {\n    const sheet = canonicalSheet(firstField(row, ['国家', 'country', 'sheet', '集群', 'cluster']));\n    const account = normalizeAccount(firstField(row, ['账号', 'account', 'user', '用户']));\n    const department = String(firstField(row, ['部门', '数据开发组', 'department', 'dept']) || '').trim();\n    const note = String(firstField(row, ['备注', '备注(近2月访问)', 'note', 'remark', 'remarks']) || '').trim();\n    let contacts = splitPeople(firstField(row, ['修改后联系人', '联系人', 'contacts', 'contact', 'name', 'names']));\n    let emails = splitPeople(firstField(row, ['修改后邮箱', '邮箱', 'emails', 'email']));\n    const action = String(firstField(row, ['操作', 'action', '是否删除', 'delete']) || '').trim().toLowerCase();\n    if (!sheet || !account) continue;\n    if (action === 'delete' || action === '删除' || action === 'true') {\n      if (accountNotifyMap[sheet]) delete accountNotifyMap[sheet][account];\n      applied.push({ sheet, account, action: 'delete' });\n      continue;\n    }\n    let defaultedToCountryOwner = false;\n    if (!contacts.length && overrideCountryOwners[sheet]) {\n      contacts = overrideCountryOwners[sheet].contacts;\n      emails = overrideCountryOwners[sheet].emails;\n      defaultedToCountryOwner = true;\n    }\n    if (/未填写.*联系人|兜底.*国家负责人|国家负责人.*确认/.test(note)) {\n      defaultedToCountryOwner = true;\n    }\n    if (!emails.length) continue;\n    accountNotifyMap[sheet] = accountNotifyMap[sheet] || {};\n    accountNotifyMap[sheet][account] = { department, contacts, emails, defaultedToCountryOwner, note };\n    applied.push({ sheet, account, department, contacts, emails, action: 'upsert', defaultedToCountryOwner, note });\n  }\n  return applied;\n};\nconst contactOverrideRawRows = normalizeOverrideRows(safeAll('Fetch Contact Overrides'));\nconst contactOverrideApplied = applyContactOverrides(contactOverrideRawRows);\nconst queryContext = (base.evidence || {}).queryContext || {};\nconst alert = (base.evidence || {}).alert || {};\nconst rawCluster = String(base.cluster || queryContext.cluster || webhookBody.cluster || '').toLowerCase();\nconst rawCountry = String(queryContext.country || base.country || webhookBody.country || '').toLowerCase();\nconst sheetAliases = {\n  cn: ['cn'], china: ['cn'], starrocks_cn: ['cn'],\n  ine: ['ine'], id: ['ine'], indonesia: ['ine'], starrocks_ine: ['ine'], starrocks_id: ['ine'],\n  th: ['th'], thailand: ['th'], starrocks_th: ['th'],\n  ph: ['ph'], philippines: ['ph'], starrocks_ph: ['ph'],\n  pk: ['pk'], pak: ['pk'], pakistan: ['pk'], starrocks_pk: ['pk'], starrocks_pak: ['pk'],\n  mx: ['mx'], mex: ['mx'], mexico: ['mx'], starrocks_mx: ['mx'], starrocks_mex: ['mx']\n};\nconst inferSheets = (...keys) => {\n  const sheets = [];\n  for (const key of keys) {\n    const normalized = String(key || '').toLowerCase().trim();\n    if (!normalized) continue;\n    for (const [alias, mappedSheets] of Object.entries(sheetAliases)) {\n      if (normalized === alias || normalized.includes(alias)) {\n        for (const sheet of mappedSheets) sheets.push(sheet);\n      }\n    }\n  }\n  return uniq(sheets);\n};\nconst candidateSheets = inferSheets(rawCluster, rawCountry);\nconst accountCandidates = uniq([\n  base.account,\n  base.dbUser,\n  base.user,\n  base.executor,\n  webhookBody.account,\n  webhookBody.dbUser,\n  webhookBody.user,\n  webhookBody.executor,\n  alert.account,\n  alert.user,\n  alert.executor,\n  queryContext.account,\n  queryContext.user,\n  queryContext.executor,\n].map(normalizeAccount));\nconst findAccountOwners = () => {\n  const searchSheets = candidateSheets.length ? candidateSheets : Object.keys(accountNotifyMap);\n  const owners = [];\n  for (const sheet of searchSheets) {\n    const sheetMap = accountNotifyMap[sheet] || {};\n    for (const account of accountCandidates) {\n      const entry = sheetMap[account];\n      if (!entry) continue;\n      owners.push({ sheet, account, ...entry });\n    }\n  }\n  return owners;\n};\nconst matchedAccountOwners = findAccountOwners();\nconst mappedEmails = uniq(matchedAccountOwners.flatMap((entry) => entry.emails || []));\nconst mappedContacts = uniq(matchedAccountOwners.flatMap((entry) => entry.contacts || []));\nconst mappedDepartments = uniq(matchedAccountOwners.map((entry) => entry.department));\nconst mappedAccounts = uniq(matchedAccountOwners.map((entry) => entry.account));\nconst countryOwnerFallbackAccounts = matchedAccountOwners\n  .filter((entry) => entry.defaultedToCountryOwner)\n  .map((entry) => entry.account);\nconst countryOwnerFallbackNotice = countryOwnerFallbackAccounts.length\n  ? '该账号联系人由国家负责人兜底；请国家负责人自行确认实际负责人并通过联系人调整表单补充。'\n  : '';\nconst finalEmails = forceTestEmail\n  ? [fallbackEmail]\n  : (mappedEmails.length ? mappedEmails : [primaryEmail]);\nconst ownerMap = {\n  starrocks_cn: [{ name: '张恒阳', email: 'owenzhang@kn.group' }, { name: '宗美晨', email: 'rockyzong@kn.group' }],\n  cn: [{ name: '张恒阳', email: 'owenzhang@kn.group' }, { name: '宗美晨', email: 'rockyzong@kn.group' }],\n  starrocks_ine: [{ name: '何柳琴', email: 'gretchenhe@kn.group' }, { name: '翟爽', email: 'riverzhai@kn.group' }],\n  ine: [{ name: '何柳琴', email: 'gretchenhe@kn.group' }, { name: '翟爽', email: 'riverzhai@kn.group' }],\n  id: [{ name: '何柳琴', email: 'gretchenhe@kn.group' }, { name: '翟爽', email: 'riverzhai@kn.group' }],\n  starrocks_mex: [{ name: '吴奎', email: 'kuiwu@kn.group' }, { name: '邓保保', email: 'enzodeng@kn.group' }],\n  mex: [{ name: '吴奎', email: 'kuiwu@kn.group' }, { name: '邓保保', email: 'enzodeng@kn.group' }],\n  mx: [{ name: '吴奎', email: 'kuiwu@kn.group' }, { name: '邓保保', email: 'enzodeng@kn.group' }],\n  starrocks_ph: [{ name: '汤伟', email: 'simontang@kn.group' }, { name: '陈江川', email: 'jiangchuanchen@kn.group' }],\n  ph: [{ name: '汤伟', email: 'simontang@kn.group' }, { name: '陈江川', email: 'jiangchuanchen@kn.group' }],\n  starrocks_th: [{ name: '黄启龙', email: 'qilonghuang@kn.group' }, { name: '朱会明', email: 'brightonzhu@kn.group' }],\n  th: [{ name: '黄启龙', email: 'qilonghuang@kn.group' }, { name: '朱会明', email: 'brightonzhu@kn.group' }],\n  starrocks_pak: [{ name: '余红叶', email: 'adamyu@kn.group' }, { name: '穆晋杰', email: 'moonmu@kn.group' }],\n  pak: [{ name: '余红叶', email: 'adamyu@kn.group' }, { name: '穆晋杰', email: 'moonmu@kn.group' }],\n  pk: [{ name: '余红叶', email: 'adamyu@kn.group' }, { name: '穆晋杰', email: 'moonmu@kn.group' }]\n};\nconst clusterKey = String(base.cluster || queryContext.cluster || '').toLowerCase();\nconst countryKey = String(queryContext.country || base.country || '').toLowerCase();\nconst owners = ownerMap[clusterKey] || ownerMap[countryKey] || [];\nconst countryOwnerNames = owners.map((item) => item.name).filter(Boolean);\nconst countryOwnerNamesText = countryOwnerNames.length ? countryOwnerNames.join('、') : '未配置';\nconst departmentAccountContactText = mappedContacts.length\n  ? mappedContacts.map((name, index) => {\n      const email = mappedEmails[index] || '';\n      return email ? name + '<' + email + '>' : name;\n    }).join('、')\n  : '';\nreturn [{ json: {\n  ...base,\n  notifyEmail: finalEmails[0] || fallbackEmail,\n  notifyEmails: finalEmails,\n  notifyTargetSource: mappedEmails.length ? 'department_account_mapping' : 'executor_or_fallback',\n  userInfo: matchedRows,\n  notifyConfig: config,\n  departmentAccountNotifyMatched: Boolean(mappedEmails.length),\n  departmentAccountNotifySheets: candidateSheets,\n  departmentAccountNotifyAccounts: mappedAccounts,\n  departmentAccountNotifyDepartments: mappedDepartments,\n  departmentAccountNotifyContacts: mappedContacts,\n  departmentAccountNotifyEmails: mappedEmails,\n  departmentAccountContactText,\n  countryOwnerFallbackAccounts,\n  countryOwnerFallbackNotice,\n  contactOverrideApplied,\n  contactOverrideAppliedCount: contactOverrideApplied.length,\n  countryOwnerEmails: [],\n  countryOwnerNames,\n  countryOwnerNamesText,\n  tvMentionEmails: finalEmails,\n  tvContactText: countryOwnerNamesText\n}}];"
      },
      "id": "469489ad-cf86-4905-b0c7-0c913f1facec",
      "name": "Merge Notify Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        52760,
        21296
      ]
    },
    {
      "parameters": {
        "jsCode": "const safeFirst = (nodeName) => {\n  try {\n    const result = $(nodeName).first();\n    return result && result.json ? result.json : null;\n  } catch (error) {\n    return null;\n  }\n};\nconst mergeBase = safeFirst('Merge Notify Target') || {};\nconst clip = (value, limit) => {\n  const text = String(value || '').replace(/\\s+/g, ' ').trim();\n  return text.length > limit ? text.slice(0, limit) + '...(truncated)' : text;\n};\nconst hasStablePrompt = (obj) => Boolean(String((obj && (obj.originalPrompt || obj.prompt)) || '').trim());\nconst hasStableAiPayload = (obj) => {\n  if (!obj || typeof obj !== 'object') return false;\n  const raw = String(obj.aiRawOutput || '').trim();\n  const aiResult = obj.aiResult && typeof obj.aiResult === 'object' ? obj.aiResult : null;\n  return Boolean(raw || (aiResult && Object.keys(aiResult).length > 0));\n};\nconst hasModelAnswer = (obj) => {\n  if (!obj || typeof obj !== 'object') return false;\n  const aiResult = obj.aiResult && typeof obj.aiResult === 'object' ? obj.aiResult : null;\n  if (!aiResult || !Object.keys(aiResult).length) return false;\n  if (obj.aiFallbackUsed) return false;\n  const conclusion = String(aiResult.oneLineConclusion || '').trim();\n  const summary = String(aiResult.summary || '').trim();\n  return Boolean(conclusion || summary);\n};\nconst toInt = (value) => {\n  if (value === null || value === undefined || value === '') return undefined;\n  const n = Number(value);\n  return Number.isFinite(n) ? Math.trunc(n) : undefined;\n};\nconst normalizeUsage = (raw) => {\n  if (!raw || typeof raw !== 'object') return null;\n  const prompt = toInt(raw.promptTokens !== undefined ? raw.promptTokens : (raw.prompt_tokens !== undefined ? raw.prompt_tokens : (raw.inputTokens !== undefined ? raw.inputTokens : raw.input_tokens)));\n  const completion = toInt(raw.completionTokens !== undefined ? raw.completionTokens : (raw.completion_tokens !== undefined ? raw.completion_tokens : (raw.outputTokens !== undefined ? raw.outputTokens : raw.output_tokens)));\n  const total = toInt(raw.totalTokens !== undefined ? raw.totalTokens : raw.total_tokens);\n  if (prompt === undefined && completion === undefined && total === undefined) return null;\n  return {\n    prompt_tokens: prompt === undefined ? 0 : prompt,\n    completion_tokens: completion === undefined ? 0 : completion,\n    total_tokens: total === undefined ? ((prompt === undefined ? 0 : prompt) + (completion === undefined ? 0 : completion)) : total\n  };\n};\nconst firstDefined = (...values) => {\n  for (const value of values) {\n    if (value !== undefined && value !== null && value !== '') return value;\n  }\n  return undefined;\n};\nconst extractRawOutput = (parse, api) => {\n  const candidate = firstDefined(\n    parse && parse.aiRawOutput,\n    api && api.aiRawOutput,\n    api && api.response && api.response.choices && api.response.choices[0] && api.response.choices[0].message && api.response.choices[0].message.content,\n    api && api.data && api.data.choices && api.data.choices[0] && api.data.choices[0].message && api.data.choices[0].message.content,\n    api && api.body && api.body.choices && api.body.choices[0] && api.body.choices[0].message && api.body.choices[0].message.content,\n    api && api.choices && api.choices[0] && api.choices[0].message && api.choices[0].message.content\n  );\n  if (candidate === undefined || candidate === null) return '';\n  if (typeof candidate === 'string') return candidate.trim();\n  try {\n    return JSON.stringify(candidate);\n  } catch (error) {\n    return String(candidate);\n  }\n};\nconst extractUsage = (parse, api) => {\n  const candidates = [\n    parse && parse.tokenUsage,\n    parse && parse.modelTokenUsageRaw,\n    parse && parse.aiApiResponse,\n    api && api.tokenUsage,\n    api && api.usage,\n    api && api.response,\n    api && api.data,\n    api && api.body,\n    api\n  ].filter(Boolean);\n  for (const candidate of candidates) {\n    const normalized = normalizeUsage(candidate)\n      || normalizeUsage(candidate && candidate.usage)\n      || normalizeUsage(candidate && candidate.tokenUsage)\n      || normalizeUsage(candidate && candidate.response && candidate.response.usage)\n      || normalizeUsage(candidate && candidate.response && candidate.response.tokenUsage)\n      || normalizeUsage(candidate && candidate.data && candidate.data.usage)\n      || normalizeUsage(candidate && candidate.data && candidate.data.tokenUsage)\n      || normalizeUsage(candidate && candidate.body && candidate.body.usage)\n      || normalizeUsage(candidate && candidate.body && candidate.body.tokenUsage);\n    if (normalized) return normalized;\n  }\n  return {};\n};\nconst extractModelTokenUsageRaw = (parse, api) => firstDefined(\n  parse && parse.modelTokenUsageRaw,\n  parse && parse.aiApiResponse,\n  api && api.tokenUsage,\n  api && api.usage,\n  api && api.response,\n  api && api.data,\n  api && api.body,\n  api\n);\nconst extractModelName = (parse, api) => String(firstDefined(\n  parse && parse.model,\n  api && api.model,\n  api && api.response && api.response.model,\n  api && api.data && api.data.model,\n  api && api.body && api.body.model,\n  'qwen3.7-plus'\n) || 'qwen3.7-plus').trim();\nconst parse = safeFirst('Parse AI Result') || {};\nconst api = safeFirst('Call Qwen Chat API') || {};\nconst prompt = String(firstDefined(parse.originalPrompt, parse.prompt, api.originalPrompt, api.prompt, mergeBase.originalPrompt, mergeBase.prompt) || '').trim();\nconst aiResult = parse.aiResult && typeof parse.aiResult === 'object' && Object.keys(parse.aiResult).length > 0 ? parse.aiResult : null;\nconst rawOutput = extractRawOutput(parse, api);\nconst usage = extractUsage(parse, api);\nconst hasOutput = Boolean(prompt && (rawOutput || aiResult));\nconst attempt = {\n  key: 'attempt1',\n  label: '第1次',\n  parseNode: 'Parse AI Result',\n  apiNode: 'Call Qwen Chat API',\n  parse,\n  api,\n  prompt,\n  aiResult,\n  rawOutput,\n  usage,\n  model: extractModelName(parse, api),\n  modelTokenUsageRaw: extractModelTokenUsageRaw(parse, api),\n  hasOutput,\n  hasStablePrompt: hasStablePrompt(parse) || Boolean(prompt),\n  hasStableAiPayload: hasStableAiPayload(parse) || Boolean(rawOutput || aiResult),\n  hasModelAnswer: hasModelAnswer(parse)\n};\nconst selectedAttempt = attempt;\nconst parseBase = selectedAttempt.parse || {};\nconst base = { ...parseBase, ...mergeBase };\nconst stablePrompt = selectedAttempt.prompt || String(mergeBase.originalPrompt || mergeBase.prompt || '').trim();\nconst stableAiResult = selectedAttempt.aiResult\n  ? selectedAttempt.aiResult\n  : ((mergeBase.aiResult && typeof mergeBase.aiResult === 'object' && Object.keys(mergeBase.aiResult).length > 0) ? mergeBase.aiResult : null);\nconst stableRawOutput = selectedAttempt.rawOutput || '';\nconst queryId = base.queryId || 'unknown_query';\nconst cluster = base.cluster || 'unknown_cluster';\nconst optimizedExplainMeta = {\n  optimized_explain_checked: !!base.optimizedExplainChecked,\n  optimized_explain_ok: !!base.optimizedExplainOk,\n  optimized_explain_permission_denied: !!base.optimizedExplainPermissionDenied,\n  optimized_explain_error: base.optimizedExplainError || '',\n  optimized_explain_summary: base.optimizedExplainSummary || '',\n  optimized_explain_rows: base.optimizedExplainRows || []\n};\nconst makeId = () => Math.random().toString(16).slice(2) + Math.random().toString(16).slice(2);\nconst now = new Date().toISOString();\nconst traceId = makeId();\nconst traceName = '异常告警修复助手';\nconst generationName = '异常告警修复助手';\nconst tracePromptMessages = [\n  { role: 'system', content: '严格根据输入提示完成分析，并且只输出 JSON。不要输出 Markdown，不要输出额外解释。' },\n  { role: 'user', content: stablePrompt }\n];\nconst shouldWrite = Boolean(selectedAttempt.hasStablePrompt && selectedAttempt.hasStableAiPayload);\nconst attemptSummaries = [{\n  key: attempt.key,\n  label: attempt.label,\n  parseNode: attempt.parseNode,\n  apiNode: attempt.apiNode,\n  hasPrompt: Boolean(attempt.prompt),\n  hasAiResult: Boolean(attempt.aiResult && Object.keys(attempt.aiResult).length > 0),\n  hasRawOutput: Boolean(attempt.rawOutput),\n  selected: true,\n  usage: attempt.usage || {},\n  writable: shouldWrite\n}];\nlet batch = null;\nlet generationId = '';\nif (shouldWrite) {\n  generationId = makeId();\n  const generationBody = {\n    id: generationId,\n    traceId,\n    name: generationName,\n    model: attempt.model,\n    input: tracePromptMessages,\n    output: attempt.rawOutput || JSON.stringify(attempt.aiResult || {}),\n    metadata: {\n      parsed_output: attempt.aiResult || {},\n      queryId,\n      cluster,\n      evidence: base.evidence || {},\n      userInfo: base.userInfo || [],\n      extracted_usage: attempt.usage || {},\n      token_usage_source: Object.keys(attempt.usage || {}).length ? 'parse_or_api_response' : 'missing',\n      attempt_key: attempt.key,\n      attempt_label: attempt.label,\n      selected: true,\n      selected_parse_source: clip((((attempt.parse.aiModelLookupMeta || {}).source) || 'unknown'), 120),\n      model_token_usage: attempt.modelTokenUsageRaw || null,\n      ...optimizedExplainMeta\n    }\n  };\n  if (Object.keys(attempt.usage || {}).length) {\n    generationBody.promptTokens = attempt.usage.prompt_tokens || 0;\n    generationBody.completionTokens = attempt.usage.completion_tokens || 0;\n    generationBody.totalTokens = attempt.usage.total_tokens || 0;\n    generationBody.usageDetails = {\n      input: attempt.usage.prompt_tokens || 0,\n      output: attempt.usage.completion_tokens || 0,\n      total: attempt.usage.total_tokens || 0,\n      unit: 'TOKENS'\n    };\n  }\n  batch = {\n    batch: [\n      {\n        id: makeId(),\n        timestamp: now,\n        type: 'trace-create',\n        body: {\n          id: traceId,\n          name: traceName,\n          sessionId: base.sessionId || '',\n          userId: base.user || '',\n          input: tracePromptMessages,\n          output: stableAiResult || {},\n          metadata: {\n            source: 'n8n_sql_optimizer_main',\n            queryId,\n            cluster,\n            executor: base.executor || '',\n            notifyEmail: base.notifyEmail || '',\n            notifyEmails: base.notifyEmails || [],\n            evidence: base.evidence || {},\n            selected_attempt: 'attempt1',\n            attempts: attemptSummaries,\n            ...optimizedExplainMeta\n          }\n        }\n      },\n      {\n        id: makeId(),\n        timestamp: now,\n        type: 'generation-create',\n        body: generationBody\n      }\n    ]\n  };\n}\nreturn [{ json: {\n  ...base,\n  prompt: stablePrompt,\n  aiRawOutput: stableRawOutput,\n  aiResult: stableAiResult || {},\n  langfuseTraceId: shouldWrite ? traceId : '',\n  langfuseGenerationId: shouldWrite ? generationId : '',\n  langfuseGenerationIds: shouldWrite && generationId ? [generationId] : [],\n  langfuseTraceName: traceName,\n  langfuseGenerationName: generationName,\n  langfuseUsage: attempt.usage || {},\n  langfuseAttempts: attemptSummaries,\n  langfuseAttemptCount: shouldWrite ? 1 : 0,\n  langfuseShouldWrite: shouldWrite,\n  langfuseSkipReason: shouldWrite ? '' : 'missing prompt or aiResult/aiRawOutput for attempt1',\n  langfuseBatch: batch,\n  langfuseHasPayload: shouldWrite\n}}];"
      },
      "id": "a7449b94-ea64-4038-a568-d8dd5d55bc1b",
      "name": "Build Langfuse Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        52576,
        21312
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Boolean($json.langfuseShouldWrite && $json.langfuseBatch && Array.isArray($json.langfuseBatch.batch) && $json.langfuseBatch.batch.length > 0) }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "de3c4e76-a321-49a8-8329-643228ec572a",
      "name": "Should Write Langfuse?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        52784,
        21280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.20.0.234:3000/api/public/ingestion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic cGstbGYtNTg2YzM5MWEtZjRmOS00MzU2LTkyZjUtOTcxMDA4MjhlNzJjOnNrLWxmLWZiZGU4MjIzLWRhOWUtNDg2OS05ZDg4LWJhOTE5ZTQ1ZjYwNA=="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-sql-optimizer/1.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.langfuseBatch }}",
        "options": {}
      },
      "id": "43a5e576-68ef-449e-903e-8777df1ac585",
      "name": "Write Langfuse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        52944,
        21008
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Build Langfuse Batch').first().json || {};\nconst notifyConfig = base.notifyConfig || {};\nconst evidence = (base.evidence || {}).alert || {};\nconst ai = base.aiResult || {};\nconst toText = (value) => value === null || value === undefined ? '' : String(value);\nconst sanitize = (value) => toText(value).replace(/undefined|null/g, '').trim();\nconst uniq = (values) => Array.from(new Set(values.map((value) => sanitize(value)).filter(Boolean)));\nconst cluster = sanitize(base.cluster);\nconst queryId = sanitize(base.queryId);\nconst notifyEmails = uniq(Array.isArray(base.notifyEmails) && base.notifyEmails.length ? base.notifyEmails : [base.notifyEmail || 'jiangchuanchen@kn.group']);\nconst contactText = sanitize(base.countryOwnerNamesText) || '未配置';\nconst contactUpdateFormUrl = sanitize(notifyConfig.contactUpdateFormUrl);\nconst countryOwnerFallbackNotice = sanitize(base.countryOwnerFallbackNotice);\nconst explainConclusion = !base.optimizedExplainChecked\n  ? '未执行优化后 EXPLAIN，请不要直接使用优化后的 SQL，建议结合上述优化建议人工验证。'\n  : (base.optimizedExplainOk\n    ? (base.optimizedExplainPermissionDenied ? '优化后 EXPLAIN 因权限不足未实际执行，请结合上述优化建议人工验证，确认无风险后再尝试使用优化后的 SQL。' : '优化后 EXPLAIN 校验通过，可以尝试使用优化后的 SQL。')\n    : '优化后 EXPLAIN 失败，请不要直接使用优化后的 SQL，建议结合上述优化建议人工验证。');\nconst buildSuggestionText = () => '异常查询：\\n'\n  + '- 集群：' + cluster + '\\n'\n  + '- 优化后sql的详细地址：http://sr-admin.kuainiujinke.com/share/sql/' + queryId + '\\n'\n  + '- CPU时间：' + sanitize(evidence.cpuTime) + '\\n'\n  + '- 内存使用：' + sanitize(evidence.memUsage) + '\\n'\n  + '- 执行时间：' + sanitize(evidence.execTime) + '\\n'\n  + '- 扫描行数：' + sanitize(evidence.scanRows) + '\\n'\n  + '- 用户：' + sanitize(base.user) + '\\n\\n'\n  + '告警原因：\\n'\n  + '- ' + sanitize(evidence.violationDetail) + '\\n\\n'\n  + 'AI结论：\\n'\n  + sanitize(ai.oneLineConclusion) + '\\n\\n'\n  + '核心问题：\\n'\n  + sanitize(ai.coreIssue) + '\\n\\n'\n  + '优化建议：\\n'\n  + sanitize(ai.summary) + '\\n\\n'\n  + '优化风险点：\\n'\n  + sanitize(ai.risk) + '\\n\\n'\n  + '需人工验证：\\n'\n  + sanitize(ai.validationAdvice) + '\\n\\n'\n  + '优化后 EXPLAIN 校验：\\n'\n  + explainConclusion + '\\n\\n'\n  + (countryOwnerFallbackNotice ? '联系人兜底说明：\\n' + countryOwnerFallbackNotice + '\\n\\n' : '')\n  + '如果需要人工协助，请联系：\\n'\n  + contactText\n  + (contactUpdateFormUrl ? '\\n\\n联系人调整表单：\\n' + contactUpdateFormUrl : '');\nconst data = buildSuggestionText();\nconst payloads = notifyEmails.map((email) => {\n  const isWeiduEmail = /@weidu\\.co$/i.test(email);\n  const accountId = sanitize(isWeiduEmail ? notifyConfig.weiduSidecarAccountId : notifyConfig.sidecarAccountId);\n  const token = sanitize(isWeiduEmail ? notifyConfig.weiduSidecarToken : notifyConfig.sidecarToken);\n  const payload = { type: 'TEXT', email, data, accountId, token };\n  return {\n    email,\n    channel: isWeiduEmail ? 'weidu' : 'default',\n    payload,\n    shouldSend: Boolean(email && accountId && token && data.trim())\n  };\n});\nreturn payloads.map((entry) => ({\n  json: {\n    ...base,\n    notifyEmail: entry.email,\n    sidecarShouldSend: entry.shouldSend,\n    sidecarChannel: entry.channel,\n    sidecarPayload: entry.payload,\n    sidecarPayloads: payloads.map((item) => item.payload),\n    sidecarRecipientCount: payloads.length\n  }\n}));"
      },
      "id": "1c7f4ea0-c17a-474f-bddc-cf74b9dc4602",
      "name": "Build Sidecar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        53184,
        21296
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst staticData = typeof $getWorkflowStaticData === 'function'\n  ? $getWorkflowStaticData('global')\n  : (typeof getWorkflowStaticData === 'function' ? getWorkflowStaticData('global') : {});\nconst now = Date.now();\nconst dedupeWindowMs = 2 * 60 * 60 * 1000;\nif (!staticData.queryNotifyDedupe || typeof staticData.queryNotifyDedupe !== 'object') {\n  staticData.queryNotifyDedupe = {};\n}\nconst store = staticData.queryNotifyDedupe;\nfor (const [key, value] of Object.entries(store)) {\n  const timestamp = Number(value && value.sentAt ? value.sentAt : value);\n  if (!Number.isFinite(timestamp) || now - timestamp > dedupeWindowMs) {\n    delete store[key];\n  }\n}\nreturn inputItems.map((item) => {\n  const base = (item && item.json) || {};\n  const queryId = String(base.queryId || '').trim();\n  const recipientEmail = String((base.sidecarPayload || {}).email || base.notifyEmail || '').trim().toLowerCase();\n  let duplicateNotifySuppressed = false;\n  let duplicateNotifyReason = '';\n  const dedupeKey = queryId && recipientEmail ? queryId + '::' + recipientEmail : queryId;\n  if (dedupeKey) {\n    const record = store[dedupeKey];\n    const sentAt = Number(record && record.sentAt ? record.sentAt : record);\n    if (Number.isFinite(sentAt) && now - sentAt <= dedupeWindowMs) {\n      duplicateNotifySuppressed = true;\n      duplicateNotifyReason = 'duplicate queryId/email within 2h: ' + dedupeKey;\n    } else if (base.sidecarShouldSend) {\n      store[dedupeKey] = {\n        sentAt: now,\n        sessionId: String(base.sessionId || ''),\n        email: recipientEmail,\n      };\n    }\n  }\n  return { json: {\n    ...base,\n    sidecarShouldSend: Boolean(base.sidecarShouldSend) && !duplicateNotifySuppressed,\n    duplicateNotifySuppressed,\n    duplicateNotifyReason,\n    duplicateNotifyWindowMs: dedupeWindowMs,\n    duplicateNotifyKey: dedupeKey,\n  }};\n});"
      },
      "id": "1ec0973f-feb1-47b4-9ad1-681c95085f45",
      "name": "Deduplicate Notify By QueryId",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        53376,
        21216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Boolean($json.sidecarShouldSend && $json.sidecarPayload && $json.sidecarPayload.email && $json.sidecarPayload.accountId && $json.sidecarPayload.token && $json.sidecarPayload.data) }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "67c3f3d4-1603-49c0-a28a-134d26701d98",
      "name": "Should Send Sidecar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        53568,
        21296
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sidecar.kuainiu.chat/conversation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sidecarPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        53792,
        21200
      ],
      "id": "fbfe6c00-e248-4705-92b0-3d1cef1f640f",
      "name": "Send Sidecar Alert",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Build Langfuse Batch').first().json || {};\nconst notify = $json || {};\nlet langfuse = { skipped: true, reason: base.langfuseSkipReason || '' };\ntry {\n  const node = $('Write Langfuse').first();\n  langfuse = node && node.json ? node.json : langfuse;\n} catch (error) {\n  langfuse = { skipped: true, reason: String(error && error.message ? error.message : error) };\n}\nconst aiResult = base.aiResult || {};\nconst evidenceAlert = (base.evidence || {}).alert || {};\nconst textOf = (value) => value === null || value === undefined ? '' : String(value);\nconst backendSuggestionText = '异常查询：\\n'\n  + '- 集群：' + textOf(base.cluster) + '\\n'\n  + '- 优化后sql的详细地址：http://sr-admin.kuainiujinke.com/share/sql/' + textOf(base.queryId) + '\\n'\n  + '- CPU时间：' + textOf(evidenceAlert.cpuTime) + '\\n'\n  + '- 内存使用：' + textOf(evidenceAlert.memUsage) + '\\n'\n  + '- 执行时间：' + textOf(evidenceAlert.execTime) + '\\n'\n  + '- 扫描行数：' + textOf(evidenceAlert.scanRows) + '\\n'\n  + '- 用户：' + textOf(base.user) + '\\n\\n'\n  + '告警原因：\\n'\n  + '- ' + textOf(evidenceAlert.violationDetail) + '\\n\\n'\n  + 'AI结论：\\n'\n  + textOf(aiResult.oneLineConclusion) + '\\n\\n'\n  + '核心问题：\\n'\n  + textOf(aiResult.coreIssue) + '\\n\\n'\n  + '优化建议：\\n'\n  + textOf(aiResult.summary) + '\\n\\n'\n  + '优化后SQL：\\n'\n  + textOf(aiResult.optimizedSql) + '\\n\\n'\n  + '优化风险点：\\n'\n  + textOf(aiResult.risk) + '\\n\\n'\n  + '需人工验证：\\n'\n  + textOf(aiResult.validationAdvice) + '\\n\\n'\n  + '如果需要人工协助，请联系：\\n'\n  + textOf(base.countryOwnerNamesText);\nreturn [{ json: {\n  ok: true,\n  sessionId: base.sessionId || '',\n  queryId: base.queryId || '',\n  cluster: base.cluster || '',\n  user: base.user || '',\n  executor: base.executor || '',\n  result: aiResult || {},\n  notifyEmail: textOf(base.notifyEmail || 'jiangchuanchen@kn.group') || 'jiangchuanchen@kn.group',\n  notifyEmails: Array.isArray(base.notifyEmails) && base.notifyEmails.length ? base.notifyEmails : [textOf(base.notifyEmail || 'jiangchuanchen@kn.group') || 'jiangchuanchen@kn.group'],\n  countryOwnerEmails: base.countryOwnerEmails || [],\n  countryOwnerNames: base.countryOwnerNames || [],\n  countryOwnerNamesText: textOf(base.countryOwnerNamesText),\n  userInfo: base.userInfo || [],\n  duplicateNotifySuppressed: !!base.duplicateNotifySuppressed,\n  duplicateNotifyReason: base.duplicateNotifyReason || '',\n  notifyResponse: notify,\n  langfuse: {\n    traceId: base.langfuseTraceId || '',\n    generationId: base.langfuseGenerationId || '',\n    generationIds: base.langfuseGenerationIds || [],\n    traceName: base.langfuseTraceName || '',\n    generationName: base.langfuseGenerationName || '',\n    usage: base.langfuseUsage || { prompt_tokens: 0, completion_tokens: 0, total_tokens: 0 },\n    attempts: base.langfuseAttempts || [],\n    attemptCount: Number(base.langfuseAttemptCount || 0),\n    accepted: !!langfuse && !langfuse.skipped,\n    skipped: !!langfuse.skipped,\n    response: langfuse\n  },\n  evidence: base.evidence || {},\n  prompt: base.prompt || '',\n  aiRawOutput: base.aiRawOutput || '',\n  optimizedExplainChecked: !!base.optimizedExplainChecked,\n  optimizedExplainOk: !!base.optimizedExplainOk,\n  optimizedExplainPermissionDenied: !!base.optimizedExplainPermissionDenied,\n  optimizedExplainError: base.optimizedExplainError || '',\n  optimizedExplainSummary: base.optimizedExplainSummary || '',\n  optimizedExplainRows: base.optimizedExplainRows || [],\n  backendSuggestionText\n}}];"
      },
      "id": "f16b5ee5-aae0-453f-b545-dcd0aa907d3d",
      "name": "Build Webhook Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        54320,
        21312
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.backendSuggestionText }}",
        "options": {}
      },
      "id": "de6b0073-b202-48f3-b5da-11e537b4be6d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        54848,
        21344
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "Import the skill workflow first, then open Execute Skill Prep and reselect the imported workflow manually. Qwen API key has already been filled in Call Qwen Chat API.",
        "height": 240,
        "width": 420
      },
      "id": "9df0aa17-23bd-48b3-8521-9f25580753f5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        50016,
        20848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "\nconst fs = require('fs');\n\nconst CONTACT_CSV_PATH = '/data/KN-YCGJ-TZ/alert-sql-notification/data/alert-contact-mapping.csv';\n\nfunction parseCsv(text) {\n  const rows = [];\n  let row = [];\n  let field = '';\n  let inQuotes = false;\n  const input = String(text || '').replace(/^\\uFEFF/, '');\n  for (let i = 0; i < input.length; i += 1) {\n    const ch = input[i];\n    if (ch === '\"') {\n      if (inQuotes && input[i + 1] === '\"') {\n        field += '\"';\n        i += 1;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (ch === ',' && !inQuotes) {\n      row.push(field);\n      field = '';\n    } else if ((ch === '\\n' || ch === '\\r') && !inQuotes) {\n      if (ch === '\\r' && input[i + 1] === '\\n') i += 1;\n      row.push(field);\n      if (row.some((cell) => String(cell).trim())) rows.push(row);\n      row = [];\n      field = '';\n    } else {\n      field += ch;\n    }\n  }\n  row.push(field);\n  if (row.some((cell) => String(cell).trim())) rows.push(row);\n  if (!rows.length) return [];\n  const headers = rows[0].map((cell) => String(cell || '').trim());\n  return rows.slice(1).map((cells, index) => {\n    const obj = { __rowNumber: index + 2, __source: 'repo_csv', __csvPath: CONTACT_CSV_PATH };\n    headers.forEach((header, columnIndex) => {\n      obj[header] = String(cells[columnIndex] || '').trim();\n    });\n    return obj;\n  });\n}\n\nif (!fs.existsSync(CONTACT_CSV_PATH)) {\n  return [{\n    json: {\n      __source: 'repo_csv',\n      __error: 'CONTACT_CSV_NOT_FOUND',\n      __csvPath: CONTACT_CSV_PATH,\n    }\n  }];\n}\n\nconst rows = parseCsv(fs.readFileSync(CONTACT_CSV_PATH, 'utf8'))\n  .filter((row) => String(row['账号'] || row.account || row.user || '').trim());\n\nreturn rows.map((row) => ({ json: row }));\n"
      },
      "id": "74264abc-dfb8-4550-b4a8-0608d24ec9f4",
      "name": "Read Contact CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        52320,
        21296
      ],
      "onError": "continueRegularOutput",
      "notesInFlow": true,
      "notes": "从仓库内唯一联系人 CSV 读取映射行，并传给 Merge Notify Target。需要 NODE_FUNCTION_ALLOW_BUILTIN=fs。"
    },
    {
      "parameters": {
        "command": "bash -lc 'set -euo pipefail\nREPO_URL=\"git@github.com:chenjiuxuan1/KN-YCGJ-TZ.git\"\nREPO_DIR=\"/data/KN-YCGJ-TZ\"\nCSV_PATH=\"/data/KN-YCGJ-TZ/alert-sql-notification/data/alert-contact-mapping.csv\"\nmkdir -p \"$(dirname \"$REPO_DIR\")\"\nif [ -d \"$REPO_DIR/.git\" ]; then\n  cd \"$REPO_DIR\"\n  git fetch origin main\n  git checkout main\n  git pull --rebase origin main\nelse\n  git clone \"$REPO_URL\" \"$REPO_DIR\"\n  cd \"$REPO_DIR\"\n  git checkout main\nfi\ntest -f \"$CSV_PATH\"\necho \"repo=$REPO_DIR\"\necho \"csv=$CSV_PATH\"\n'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        52100,
        21296
      ],
      "id": "4e54ec36-714e-4a47-a696-bd32ff3aeb1f",
      "name": "Pull Contact CSV Repo",
      "notesInFlow": true,
      "notes": "通知前拉取 git@github.com:chenjiuxuan1/KN-YCGJ-TZ.git，读取 /data/KN-YCGJ-TZ/alert-sql-notification/data/alert-contact-mapping.csv。n8n 本机需要安装 git 并配置 SSH key。"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Skill Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Skill Prep": {
      "main": [
        [
          {
            "node": "Call Qwen Chat API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Qwen Chat API": {
      "main": [
        [
          {
            "node": "Parse AI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Result": {
      "main": [
        [
          {
            "node": "Has Optimized SQL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Optimized SQL?": {
      "main": [
        [
          {
            "node": "Run Optimized Explain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Optimized Explain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Optimized Explain": {
      "main": [
        [
          {
            "node": "Merge Optimized Explain Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Optimized Explain Result": {
      "main": [
        [
          {
            "node": "Notify Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Optimized Explain": {
      "main": [
        [
          {
            "node": "Notify Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Config": {
      "main": [
        [
          {
            "node": "Pull Contact CSV Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Info": {
      "main": [
        [
          {
            "node": "Merge Notify Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Notify Target": {
      "main": [
        [
          {
            "node": "Build Langfuse Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Langfuse Batch": {
      "main": [
        [
          {
            "node": "Should Write Langfuse?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Write Langfuse?": {
      "main": [
        [
          {
            "node": "Write Langfuse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Sidecar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Langfuse": {
      "main": [
        [
          {
            "node": "Build Sidecar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sidecar Payload": {
      "main": [
        [
          {
            "node": "Deduplicate Notify By QueryId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Sidecar?": {
      "main": [
        [
          {
            "node": "Send Sidecar Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Sidecar Alert": {
      "main": [
        [
          {
            "node": "Build Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Webhook Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Notify By QueryId": {
      "main": [
        [
          {
            "node": "Should Send Sidecar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Contact CSV Repo": {
      "main": [
        [
          {
            "node": "Read Contact CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contact CSV": {
      "main": [
        [
          {
            "node": "Get User Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0da56d2c-10fd-4f82-b5c6-d12c07030c0c",
  "meta": {
    "instanceId": "9b8dca2625dfded9c94218816984fe8bf5bd91d03aaffc5e971fd46b2e9dc2e8"
  },
  "id": "jsqkmqNSDOX78sYc",
  "tags": []
}
